openapi: 3.1.0
info:
  title: Substack API
  version: 1.0.0
  summary: Reverse-engineered HTTP API surface used by the substack-api TypeScript client
  description: |
    This document describes the **underlying HTTP API** that Substack exposes to its
    web and mobile clients. The [`substack-api`](https://github.com/christopher-s/substack-api)
    TypeScript library wraps these endpoints and is the source of truth for this
    specification — every operation here corresponds to a method in
    [`src/internal/services/`](https://github.com/christopher-s/substack-api/tree/main/src/internal/services).

    ## Hosts

    Substack uses two hostname classes:

    - **`https://substack.com`** for global endpoints (search, top posts, profiles by ID, …).
    - **`https://{publication}.substack.com`** for publication-scoped endpoints
      (a single newsletter's archive, comments, homepage, notes, …). The
      `publication` server variable is the subdomain segment of the publication
      (e.g. `stratechery`, `astralcodexten`).

    Choose the matching server when invoking each operation; operations document
    which class of host they belong to in their `tags` and `summary`.

    ## Authentication

    Authenticated requests use a session cookie named `substack.sid`. The cookie
    is established by the standard Substack web sign-in flow and copied into the
    client (see [README → Authentication](https://github.com/christopher-s/substack-api#authentication)).
    Operations that require a logged-in user declare
    `security: [{ substackSession: [] }]`.

    ## Rate limiting

    The TypeScript client applies a configurable client-side rate limit
    (`maxRequestsPerSecond`, default 25 RPS). The Substack server itself does
    not document rate limits, but expect HTTP 429 from sustained burst traffic.

    ## Stability

    This is a **reverse-engineered** specification. Substack does not publish a
    public API contract, so every field, route, and behaviour is empirical and
    may change without notice. Pin the client library version to a tested
    release for stability.
  contact:
    name: substack-api maintainers
    url: https://github.com/christopher-s/substack-api/issues
  license:
    name: MIT
    url: https://github.com/christopher-s/substack-api/blob/main/LICENSE
externalDocs:
  description: substack-api source repository
  url: https://github.com/christopher-s/substack-api
servers:
  - url: https://substack.com
    description: Global Substack host (search, profiles by ID, top posts, categories, etc.)
  - url: https://{publication}.substack.com
    description: Publication-scoped host (archive, homepage, comments on a post, notes feed, …)
    variables:
      publication:
        default: on
        description: |
          Publication subdomain (the segment before `.substack.com`). For example,
          `stratechery` for `https://stratechery.substack.com`. The default
          `on` points at Substack's official "On Substack" newsletter.
tags:
  - name: post
    description: Posts (newsletter articles).
  - name: profile
    description: User profiles, handles, and authenticated user details.
  - name: note
    description: Notes (short-form posts) and the comment-feed surface that backs them.
  - name: comment
    description: Threaded comments on posts, including replies.
  - name: discovery
    description: Discovery surfaces — top posts, trending, search, categories, explore feeds.
  - name: publication
    description: Publication-scoped reads (archive, homepage, posts, facepile, livestreams).
  - name: following
    description: Authenticated user's following / subscriber-list operations.
  - name: connectivity
    description: Connectivity / authentication probes.
security: []
paths:
  /api/v1/posts/by-id/{id}:
    get:
      tags: [post]
      summary: Get a post by numeric ID
      description: Fetch full post details (body, byline, reactions, paywall metadata) by post ID.
      operationId: getPostById
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer, minimum: 1 }
          description: Numeric post ID.
      responses:
        '200':
          description: Full post payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FullPost'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/profile/posts:
    get:
      tags: [post, profile]
      summary: List preview posts for a profile
      description: Paginated preview posts authored by a given user (offset/limit pagination).
      operationId: getPostsForProfile
      parameters:
        - in: query
          name: profile_user_id
          required: true
          schema: { type: integer, minimum: 1 }
          description: Numeric user ID whose posts to list.
        - in: query
          name: limit
          required: true
          schema: { type: integer, minimum: 1, maximum: 100, default: 25 }
        - in: query
          name: offset
          required: true
          schema: { type: integer, minimum: 0, default: 0 }
      responses:
        '200':
          description: Array of preview posts.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PreviewPost'

  /api/v1/handle/options:
    get:
      tags: [profile]
      summary: List handle options for the authenticated user
      description: |
        Returns potential handles associated with the signed-in account. Used
        internally to discover the user's own handle/slug.
      operationId: getOwnSlug
      security:
        - substackSession: []
      responses:
        '200':
          description: Potential handle records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PotentialHandles'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/user/{slug}/public_profile:
    get:
      tags: [profile]
      summary: Get a public profile by slug
      description: |
        Resolve a user's handle/slug to their full public profile. Used both
        for arbitrary lookups and (when authenticated and resolving the
        signed-in user's own slug) to fetch the authenticated profile.
      operationId: getProfileBySlug
      parameters:
        - in: path
          name: slug
          required: true
          schema: { type: string, minLength: 1 }
          description: User handle / slug (the segment after `/@` in profile URLs).
      responses:
        '200':
          description: Full public profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FullProfile'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/reader/feed/profile/{profileId}:
    get:
      tags: [profile, discovery, note]
      summary: Profile reader feed
      description: |
        Multi-purpose endpoint that serves a profile's reader feed. The shape
        of the response varies by the `types` / `types[]` / `tab` query
        parameter:

        - `types=note` — a single note feed (comments-with-attachments).
        - `tab=posts|notes|comments|likes` — a profile activity feed (also
          used for likes via `tab=likes` *or* `types[]=like`, depending on
          the call site).
        - no parameters — resolves the user ID to a slug-bearing profile
          record (see `getProfileById`).

        Operations `getNotesForProfile`, `getProfileActivity`, and
        `getProfileLikes` all hit this same path with different query strings.
      operationId: getReaderProfileFeed
      parameters:
        - in: path
          name: profileId
          required: true
          schema: { type: integer, minimum: 1 }
          description: Numeric profile (user) ID.
        - in: query
          name: types
          schema: { type: string }
          description: |
            Comma-separated content types. Pass `note` to get a notes-only
            feed (used by `getNotesForProfile`).
        - in: query
          name: types[]
          schema: { type: string }
          description: |
            Repeated query parameter form (e.g. `types[]=like`) used by
            `getProfileLikes` for the likes timeline.
        - in: query
          name: tab
          schema:
            type: string
            enum: [posts, notes, comments, likes]
          description: Activity tab when used as a profile activity feed.
        - $ref: '#/components/parameters/CursorQuery'
      responses:
        '200':
          description: Either a `UserProfile` (no params) or a paginated reader feed.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/UserProfile'
                  - $ref: '#/components/schemas/PaginatedFeed'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/reader/comment/{id}:
    get:
      tags: [note, comment]
      summary: Get a comment / note by ID
      description: |
        Fetch a single comment by ID. Substack treats notes as comments under
        the hood — this endpoint serves both. Used by `noteForId` and
        `commentForId`.
      operationId: getCommentById
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer, minimum: 1 }
      responses:
        '200':
          description: Comment response wrapper.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/reader/comment/{commentId}/replies:
    get:
      tags: [comment]
      summary: Threaded replies to a comment
      description: Cursor-paginated replies under a parent comment.
      operationId: getCommentReplies
      parameters:
        - in: path
          name: commentId
          required: true
          schema: { type: integer, minimum: 1 }
        - $ref: '#/components/parameters/CursorQuery'
      responses:
        '200':
          description: Paginated reply branches.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentRepliesResponse'

  /api/v1/notes:
    get:
      tags: [note]
      summary: List notes for the authenticated user
      description: Cursor-paginated notes feed for the signed-in user.
      operationId: getNotesForLoggedUser
      security:
        - substackSession: []
      parameters:
        - $ref: '#/components/parameters/CursorQuery'
      responses:
        '200':
          description: Paginated notes payload (raw shape).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedFeed'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/post/{postId}/comments:
    get:
      tags: [comment]
      summary: Comments on a post
      description: Top-level comments for a post, with a `more` flag for additional pages.
      operationId: getCommentsForPost
      parameters:
        - $ref: '#/components/parameters/PostIdPath'
      responses:
        '200':
          description: Comments and pagination flag.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedComments'

  /api/v1/inbox/top:
    get:
      tags: [discovery]
      summary: Top / trending inbox posts
      description: |
        Substack's "top" inbox feed. Used for both `topPosts` (no params) and
        `trending` (with `limit`/`offset`) — the two are aliases of the same
        upstream endpoint.
      operationId: getTopInboxFeed
      parameters:
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 100 }
        - in: query
          name: offset
          schema: { type: integer, minimum: 0 }
      responses:
        '200':
          description: Inbox feed payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedFeed'
  /api/v1/reader/feed:
    get:
      tags: [discovery]
      summary: Discovery reader feed
      description: |
        The main discovery feed exposed to readers. `tab` selects the surface
        (`for-you`, `top`, `popular`, `catchup`, `notes`, `explore`); `type`
        is a required content-type filter.
      operationId: getReaderFeed
      parameters:
        - in: query
          name: tab
          schema:
            type: string
            enum: [for-you, top, popular, catchup, notes, explore]
        - in: query
          name: type
          required: true
          schema: { type: string }
          description: Required content-type filter (e.g. `posts`, `notes`).
        - $ref: '#/components/parameters/CursorQuery'
      responses:
        '200':
          description: Paginated reader feed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedFeed'
  /api/v1/categories:
    get:
      tags: [discovery]
      summary: List all categories with subcategories
      operationId: getCategories
      responses:
        '200':
          description: All known categories.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Category'
  /api/v1/category/public/{categoryId}/posts:
    get:
      tags: [discovery, publication]
      summary: Publications in a category
      description: Paginated publications for a given category id or slug.
      operationId: getCategoryPublications
      parameters:
        - in: path
          name: categoryId
          required: true
          schema:
            oneOf:
              - { type: integer, minimum: 1 }
              - { type: string, minLength: 1 }
          description: Category numeric ID or slug (`tech`, `podcast`, …).
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 100 }
        - in: query
          name: offset
          schema: { type: integer, minimum: 0 }
      responses:
        '200':
          description: Publications page.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryPublications'
  /api/v1/top/search:
    get:
      tags: [discovery]
      summary: Top search across all surfaces
      description: Cursor-paginated search across posts, people, publications, and notes.
      operationId: searchAll
      parameters:
        - in: query
          name: query
          required: true
          schema: { type: string, minLength: 1 }
        - $ref: '#/components/parameters/CursorQuery'
      responses:
        '200':
          description: Paginated mixed-content search results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedFeed'
  /api/v1/profile/search:
    get:
      tags: [discovery, profile]
      summary: Profile search
      description: Page-paginated search across user profiles.
      operationId: searchProfiles
      parameters:
        - in: query
          name: query
          required: true
          schema: { type: string, minLength: 1 }
        - in: query
          name: page
          schema: { type: integer, minimum: 1 }
      responses:
        '200':
          description: Profile search results page.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileSearchResponse'
  /api/v1/search/explore/web:
    get:
      tags: [discovery]
      summary: Explore search across tabs
      operationId: exploreSearch
      parameters:
        - in: query
          name: tab
          schema: { type: string }
        - in: query
          name: type
          required: true
          schema: { type: string }
        - $ref: '#/components/parameters/CursorQuery'
      responses:
        '200':
          description: Paginated explore results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedFeed'
  /api/v1/reader/feed/publication/{publicationId}:
    get:
      tags: [discovery, publication]
      summary: Publication activity feed
      description: Activity feed for a publication (posts, notes).
      operationId: getPublicationFeed
      parameters:
        - in: path
          name: publicationId
          required: true
          schema: { type: integer, minimum: 1 }
        - in: query
          name: tab
          schema: { type: string }
        - $ref: '#/components/parameters/CursorQuery'
      responses:
        '200':
          description: Paginated publication activity feed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedFeed'

  /api/v1/homepage_data:
    get:
      tags: [publication]
      summary: Publication homepage data
      description: |
        Returns a publication's homepage payload — new posts, pinned posts,
        sections, and metadata. Must be called against the publication-scoped
        host (`https://{publication}.substack.com`).
      operationId: getHomepageData
      responses:
        '200':
          description: Homepage payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HomepageData'
  /api/v1/archive:
    get:
      tags: [publication]
      summary: Publication archive
      description: Paginated post archive for a publication, with sort and search filters.
      operationId: getArchive
      parameters:
        - in: query
          name: sort
          schema:
            type: string
            enum: [new, top]
        - in: query
          name: search
          schema: { type: string }
        - in: query
          name: offset
          schema: { type: integer, minimum: 0 }
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 100 }
      responses:
        '200':
          description: Paginated publication posts.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PublicationPost'
  /api/v1/posts:
    get:
      tags: [publication]
      summary: Publication full posts
      description: |
        Full posts (including `body_html`) for a publication, paginated by
        offset/limit. Must be called against the publication-scoped host.
      operationId: getPublicationPosts
      parameters:
        - in: query
          name: offset
          schema: { type: integer, minimum: 0 }
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 100 }
      responses:
        '200':
          description: Paginated full publication posts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPosts'
  /api/v1/post/{postId}/facepile:
    get:
      tags: [publication]
      summary: Reactor facepile for a post
      description: List of users who reacted to a post.
      operationId: getPostFacepile
      parameters:
        - $ref: '#/components/parameters/PostIdPath'
      responses:
        '200':
          description: Facepile payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Facepile'
  /api/v1/live_streams/active/pub/{publicationId}:
    get:
      tags: [publication]
      summary: Active live stream for a publication
      operationId: getActiveLiveStream
      parameters:
        - in: path
          name: publicationId
          required: true
          schema: { type: integer, minimum: 1 }
      responses:
        '200':
          description: Live-stream payload (or empty if none active).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveStreamResponse'
  /api/v1/posts/{postId}/seen:
    post:
      tags: [publication]
      summary: Mark a post as seen
      description: Records that the authenticated reader has seen a post.
      operationId: markPostSeen
      parameters:
        - $ref: '#/components/parameters/PostIdPath'
      responses:
        '200':
          description: Seen state acknowledged.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
        '204':
          description: Seen state acknowledged (no body).

  /api/v1/user-setting:
    put:
      tags: [following, connectivity]
      summary: Write a user setting
      description: |
        Writes a single user setting (the client uses `last_home_tab`). The
        response includes the authenticated `user_id`, which is how the client
        derives the current user's ID and probes connectivity.
      operationId: writeUserSetting
      security:
        - substackSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserSettingRequest'
      responses:
        '200':
          description: Updated user setting record (includes `user_id`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSettingResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/user/{userId}/subscriber-lists:
    get:
      tags: [following]
      summary: Authenticated user's following / subscriber lists
      operationId: getSubscriberLists
      security:
        - substackSession: []
      parameters:
        - in: path
          name: userId
          required: true
          schema: { type: integer, minimum: 1 }
        - in: query
          name: lists
          required: true
          schema: { type: string }
          description: Comma-separated list keys (the client passes `following`).
      responses:
        '200':
          description: Subscriber-list payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriberLists'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/comment/feed/:
    post:
      tags: [note]
      summary: Publish a note
      description: |
        Publishes a new note. The body is a ProseMirror document. When the
        client publishes a note with a link attachment it first calls
        `POST /api/v1/comment/attachment/` to obtain an attachment id, then
        passes that id in this body.
      operationId: publishNote
      security:
        - substackSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishNoteRequest'
      responses:
        '200':
          description: Published note.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublishNoteResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '400':
          $ref: '#/components/responses/BadRequest'
  /api/v1/comment/attachment/:
    post:
      tags: [note]
      summary: Create a link attachment for a note
      description: |
        Creates a link-preview attachment that can be referenced by a
        subsequent `POST /api/v1/comment/feed/`. Step 1 of the
        "note with link" two-step publish.
      operationId: createNoteAttachment
      security:
        - substackSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAttachmentRequest'
      responses:
        '200':
          description: Attachment record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAttachmentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '400':
          $ref: '#/components/responses/BadRequest'

components:
  parameters:
    PostIdPath:
      in: path
      name: postId
      required: true
      schema: { type: integer, minimum: 1 }
      description: Numeric post ID.
    CursorQuery:
      in: query
      name: cursor
      schema: { type: string }
      description: Opaque pagination cursor returned by a previous response.
  responses:
    Unauthorized:
      description: Authentication required or session expired.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
    BadRequest:
      description: Malformed request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
  securitySchemes:
    substackSession:
      type: apiKey
      in: cookie
      name: substack.sid
      description: |
        Substack session cookie established by the standard browser sign-in flow.
        Copy the value of `substack.sid` from your authenticated browser session
        to authenticate API requests. The `substack-api` client sets this cookie
        automatically when given a `token` in `SubstackConfig`.
  schemas:
    ApiError:
      type: object
      description: Generic Substack API error envelope.
      properties:
        error:
          type: string
          description: Machine-readable error code.
        message:
          type: string
          description: Human-readable error message.
        status_code:
          type: integer
        details:
          type: object
          additionalProperties: true
      additionalProperties: true

    Reactions:
      type: object
      description: Reaction counts keyed by emoji.
      additionalProperties:
        type: integer
        minimum: 0
      examples:
        - { '❤': 12, '🔥': 4 }

    Byline:
      type: object
      description: Compact author byline (a denormalised user record).
      properties:
        id: { type: integer }
        name: { type: string }
        handle: { type: string }
        photo_url: { type: string, format: uri }
        bio: { type: string }
        is_admin: { type: boolean }
      required: [id, name]
      additionalProperties: true

    User:
      type: object
      description: Substack user record.
      properties:
        id: { type: integer }
        name: { type: string }
        handle: { type: string }
        previous_name: { type: string }
        photo_url: { type: string, format: uri }
        bio: { type: string }
        profile_set_up_at: { type: string, format: date-time }
        reader_installed_at: { type: string, format: date-time }
      required: [id]
      additionalProperties: true

    PreviewPost:
      type: object
      description: Lightweight post preview returned by listing endpoints.
      properties:
        id: { type: integer }
        title: { type: string }
        subtitle: { type: string }
        slug: { type: string }
        post_date: { type: string, format: date-time }
        canonical_url: { type: string, format: uri }
        type: { type: string }
        truncated_body_text: { type: string }
        cover_image: { type: string, format: uri }
        audience: { type: string }
        publication_id: { type: integer }
        reactions:
          $ref: '#/components/schemas/Reactions'
        comment_count: { type: integer }
      required: [id, title]
      additionalProperties: true

    FullPost:
      allOf:
        - $ref: '#/components/schemas/PreviewPost'
        - type: object
          description: Full post payload as returned by `GET /api/v1/posts/by-id/{id}`.
          properties:
            body_html:
              type: string
              description: Rendered HTML body. Only present for posts the caller has access to (free posts, or paywalled posts when authenticated as a subscriber).
            body_text: { type: string }
            wordcount: { type: integer }
            audience: { type: string }
            podcast_url: { type: string, format: uri }
            video_upload_id: { type: string }
            byline:
              $ref: '#/components/schemas/Byline'
            publishedBylines:
              type: array
              items: { $ref: '#/components/schemas/Byline' }
            reactions:
              $ref: '#/components/schemas/Reactions'
          additionalProperties: true

    PublicationPost:
      type: object
      description: |
        Post as returned by publication-scoped endpoints (`/archive`, `/posts`,
        homepage). Shape varies depending on whether `body_html` is included.
      properties:
        id: { type: integer }
        publication_id: { type: integer }
        title: { type: string }
        slug: { type: string }
        post_date: { type: string, format: date-time }
        canonical_url: { type: string, format: uri }
        cover_image: { type: string, format: uri }
        type: { type: string }
        audience: { type: string }
        body_html:
          type: string
          description: Rendered HTML (present for `/api/v1/posts`, absent for `/archive`).
        truncated_body_text: { type: string }
        wordcount: { type: integer }
        comment_count: { type: integer }
        reactions:
          $ref: '#/components/schemas/Reactions'
        publishedBylines:
          type: array
          items: { $ref: '#/components/schemas/Byline' }
      required: [id, title]
      additionalProperties: true

    Post:
      description: |
        Generic post record. Substack returns post payloads in three concrete
        shapes depending on the endpoint family:

        - `PreviewPost` for profile feeds (`/api/v1/profile/posts`).
        - `FullPost` for the by-id lookup (`/api/v1/posts/by-id/{id}`).
        - `PublicationPost` for publication-scoped endpoints (`/archive`,
          `/posts`, homepage).

        Use this alias when a consumer wants to type a value that may carry
        any of the three shapes (e.g. when normalizing across feeds).
      oneOf:
        - $ref: '#/components/schemas/PreviewPost'
        - $ref: '#/components/schemas/FullPost'
        - $ref: '#/components/schemas/PublicationPost'

    PaginatedPosts:
      type: array
      description: |
        Array of full publication posts. The Substack endpoint returns a bare
        array; pagination is offset-based via the `offset` and `limit` query
        parameters. The `substack-api` client wraps this into an async
        iterator that stops when fewer than `limit` items are returned.
      items:
        $ref: '#/components/schemas/PublicationPost'

    Section:
      type: object
      description: A section / category within a publication.
      properties:
        id: { type: integer }
        publication_id: { type: integer }
        name: { type: string }
        slug: { type: string }
        description: { type: string }
        hidden: { type: boolean }
      additionalProperties: true

    HomepageData:
      type: object
      description: Publication homepage payload.
      properties:
        newPosts:
          type: array
          items: { $ref: '#/components/schemas/PublicationPost' }
        pinnedPosts:
          type: array
          items: { $ref: '#/components/schemas/PublicationPost' }
        sections:
          type: array
          items: { $ref: '#/components/schemas/Section' }
        publicationName: { type: string }
        publicationLogoUrl: { type: string, format: uri }
        publicationCustomDomain: { type: string }
      additionalProperties: true

    NoteAttachment:
      type: object
      description: |
        A note attachment — typically a link preview, but can be an image or
        embedded media. Attachments are created via `POST /api/v1/comment/attachment/`
        and referenced from the publish payload.
      properties:
        id: { type: string }
        type:
          type: string
          enum: [link, image, video, audio, embed]
        url: { type: string, format: uri }
        image_url: { type: string, format: uri }
        title: { type: string }
        description: { type: string }
        host: { type: string }
        favicon_url: { type: string, format: uri }
      additionalProperties: true

    Note:
      type: object
      description: |
        A Substack note. Substack treats notes as comments, so the API surface
        overlaps with the Comment shape — see `/api/v1/reader/comment/{id}`.
      properties:
        id: { type: integer }
        type:
          type: string
          enum: [comment, feed_comment]
        body: { type: string }
        body_json:
          type: object
          additionalProperties: true
          description: ProseMirror document of the note body.
        date: { type: string, format: date-time }
        edited_at:
          oneOf:
            - { type: string, format: date-time }
            - { type: 'null' }
        deleted: { type: boolean }
        post_id:
          oneOf:
            - { type: integer }
            - { type: 'null' }
        publication_id: { type: integer }
        user_id: { type: integer }
        name: { type: string }
        handle: { type: string }
        photo_url: { type: string, format: uri }
        reaction_count: { type: integer }
        reactions:
          $ref: '#/components/schemas/Reactions'
        children_count: { type: integer }
        attachments:
          type: array
          items: { $ref: '#/components/schemas/NoteAttachment' }
      required: [id]
      additionalProperties: true

    Comment:
      allOf:
        - $ref: '#/components/schemas/Note'
        - type: object
          description: A comment on a post (notes share the same shape).
          properties:
            ancestor_path: { type: string }
            parent_comment_id:
              oneOf:
                - { type: integer }
                - { type: 'null' }
          additionalProperties: true

    CommentResponse:
      type: object
      description: |
        Wrapper returned by `GET /api/v1/reader/comment/{id}`. Substack
        double-wraps the payload — the outer `item` holds an inner object
        whose `comment` property is the actual comment record.
      properties:
        item:
          type: object
          properties:
            comment:
              $ref: '#/components/schemas/Comment'
          additionalProperties: true
      additionalProperties: true

    PaginatedComments:
      type: object
      description: Comments on a post, with a `more` flag for additional pages.
      properties:
        comments:
          type: array
          items: { $ref: '#/components/schemas/Comment' }
        more:
          type: boolean
          description: True if more pages of comments exist.
      additionalProperties: true

    CommentRepliesResponse:
      type: object
      description: Threaded reply branches under a comment.
      properties:
        commentBranches:
          type: array
          items:
            type: object
            properties:
              comment:
                $ref: '#/components/schemas/Comment'
              replies:
                type: array
                items: { $ref: '#/components/schemas/Comment' }
            additionalProperties: true
        nextCursor:
          oneOf:
            - { type: string }
            - { type: 'null' }
      additionalProperties: true

    PotentialHandles:
      type: object
      description: Handle options for the authenticated user.
      properties:
        handles:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                description: Handle type discriminator (e.g. `user`, `publication`).
              handle: { type: string }
              id: { type: integer }
              name: { type: string }
            additionalProperties: true
      additionalProperties: true

    UserProfile:
      type: object
      description: |
        Lightweight profile record returned when calling
        `/api/v1/reader/feed/profile/{profileId}` with no parameters.
      properties:
        id: { type: integer }
        name: { type: string }
        handle: { type: string }
        photo_url: { type: string, format: uri }
        bio: { type: string }
      required: [id]
      additionalProperties: true

    Profile:
      type: object
      description: |
        Public-profile fields shared by both authenticated and anonymous
        profile lookups. `FullProfile` extends this with extra signed-in
        fields.
      properties:
        id: { type: integer }
        name: { type: string }
        handle: { type: string }
        slug: { type: string }
        photo_url: { type: string, format: uri }
        cover_photo_url: { type: string, format: uri }
        bio: { type: string }
        url: { type: string, format: uri }
        twitter_screen_name: { type: string }
        publicationUsers:
          type: array
          items:
            $ref: '#/components/schemas/Publication'
      required: [id]
      additionalProperties: true

    FullProfile:
      allOf:
        - $ref: '#/components/schemas/Profile'
        - type: object
          description: |
            Full profile with extra fields exposed by
            `GET /api/v1/user/{slug}/public_profile`.
          properties:
            subscriptions:
              type: array
              items:
                type: object
                properties:
                  publication_id: { type: integer }
                  domain: { type: string }
                  membership_state: { type: string }
                additionalProperties: true
            subscription_count: { type: integer }
            following_count: { type: integer }
          additionalProperties: true

    ProfileSearchResult:
      type: object
      description: A single profile search result.
      properties:
        id: { type: integer }
        name: { type: string }
        handle: { type: string }
        photo_url: { type: string, format: uri }
        bio: { type: string }
      required: [id]
      additionalProperties: true

    ProfileSearchResponse:
      type: object
      description: Profile search results page.
      properties:
        results:
          type: array
          items: { $ref: '#/components/schemas/ProfileSearchResult' }
        more:
          type: boolean
      additionalProperties: true

    Publication:
      type: object
      description: A Substack publication (newsletter).
      properties:
        id: { type: integer }
        name: { type: string }
        subdomain: { type: string }
        custom_domain:
          oneOf:
            - { type: string }
            - { type: 'null' }
        custom_domain_optional: { type: boolean }
        hero_text: { type: string }
        logo_url: { type: string, format: uri }
        author_id: { type: integer }
        theme_var_background_pop: { type: string }
        community_enabled: { type: boolean }
        copyright: { type: string }
        founding_plan_name: { type: string }
        community_url: { type: string, format: uri }
      required: [id, name]
      additionalProperties: true

    Category:
      type: object
      description: A Substack content category with optional subcategories.
      properties:
        id:
          oneOf:
            - { type: integer }
            - { type: string }
        name: { type: string }
        slug: { type: string }
        subcategories:
          type: array
          items:
            type: object
            properties:
              id:
                oneOf:
                  - { type: integer }
                  - { type: string }
              name: { type: string }
              slug: { type: string }
            additionalProperties: true
      required: [name]
      additionalProperties: true

    CategoryPublications:
      type: object
      description: Publications page for a category.
      properties:
        publications:
          type: array
          items:
            allOf:
              - $ref: '#/components/schemas/Publication'
              - type: object
                properties:
                  base_url: { type: string, format: uri }
                additionalProperties: true
        more:
          type: boolean
      additionalProperties: true

    InboxItem:
      type: object
      description: |
        A single feed item from `/inbox/top`, `/reader/feed`, or `/top/search`.
        Discovery feeds return heterogeneous items — posts, notes, comments —
        keyed by a `type` discriminator.
      properties:
        type:
          type: string
          enum: [post, note, comment, publication, profile]
        post:
          $ref: '#/components/schemas/PreviewPost'
        comment:
          $ref: '#/components/schemas/Comment'
        publication:
          $ref: '#/components/schemas/Publication'
        profile:
          $ref: '#/components/schemas/Profile'
      additionalProperties: true

    PaginatedFeed:
      type: object
      description: |
        Paginated feed envelope returned by inbox/top, reader/feed, and other
        cursor-paginated discovery endpoints. The TypeScript client normalises
        this into `{ items: FeedItem[], nextCursor: string | null }`.
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/InboxItem' }
        nextCursor:
          oneOf:
            - { type: string }
            - { type: 'null' }
      additionalProperties: true

    Facepile:
      type: object
      description: Reactor list for a post.
      properties:
        users:
          type: array
          items: { $ref: '#/components/schemas/User' }
        total_count: { type: integer }
      additionalProperties: true

    LiveStream:
      type: object
      description: Live stream record.
      properties:
        id: { type: integer }
        publication_id: { type: integer }
        status: { type: string }
        title: { type: string }
        started_at: { type: string, format: date-time }
        ended_at:
          oneOf:
            - { type: string, format: date-time }
            - { type: 'null' }
        livestream_url: { type: string, format: uri }
      additionalProperties: true

    LiveStreamResponse:
      type: object
      description: |
        Active live-stream payload. Returns an empty object when no live
        stream is active.
      properties:
        liveStream:
          oneOf:
            - $ref: '#/components/schemas/LiveStream'
            - { type: 'null' }
      additionalProperties: true

    SubscriberLists:
      type: object
      description: |
        Subscriber-list payload. `following` lists the publications/users the
        authenticated user follows.
      properties:
        following:
          type: array
          items:
            type: object
            properties:
              id: { type: integer }
              name: { type: string }
              handle: { type: string }
              photo_url: { type: string, format: uri }
            additionalProperties: true
      additionalProperties: true

    UserSettingRequest:
      type: object
      description: |
        Body for `PUT /api/v1/user-setting`. The client always writes
        `last_home_tab` and uses the response's `user_id` to derive the
        authenticated user's identity / probe connectivity.
      properties:
        last_home_tab:
          type: string
          description: Last home-tab key (e.g. `home`, `discover`).
      required: [last_home_tab]
      additionalProperties: true

    UserSettingResponse:
      type: object
      description: Updated user-setting record. Includes the authenticated `user_id`.
      properties:
        user_id: { type: integer }
        last_home_tab: { type: string }
      required: [user_id]
      additionalProperties: true

    PublishNoteRequest:
      type: object
      description: Body for `POST /api/v1/comment/feed/`.
      properties:
        bodyJson:
          type: object
          description: ProseMirror JSON document.
          additionalProperties: true
        attachmentIds:
          type: array
          items: { type: string }
          description: |
            Attachment IDs returned by `POST /api/v1/comment/attachment/`.
        type:
          type: string
          enum: [feed]
        replyMinimumRole:
          type: string
          enum: [everyone, subscribers, founding_members]
      required: [bodyJson]
      additionalProperties: true

    PublishNoteResponse:
      type: object
      description: Published note record.
      properties:
        id: { type: integer }
        body: { type: string }
        body_json:
          type: object
          additionalProperties: true
        date: { type: string, format: date-time }
        type: { type: string }
        user_id: { type: integer }
        publication_id: { type: integer }
        attachments:
          type: array
          items: { $ref: '#/components/schemas/NoteAttachment' }
      additionalProperties: true

    CreateAttachmentRequest:
      type: object
      description: Body for `POST /api/v1/comment/attachment/`.
      properties:
        url: { type: string, format: uri }
        type:
          type: string
          enum: [link]
      required: [url, type]
      additionalProperties: true

    CreateAttachmentResponse:
      type: object
      description: Created attachment record.
      properties:
        id: { type: string }
        type: { type: string, enum: [link] }
        url: { type: string, format: uri }
        image_url: { type: string, format: uri }
        title: { type: string }
        description: { type: string }
        host: { type: string }
      required: [id, type]
      additionalProperties: true
