openapi: 3.1.0
info:
  title: Substack API
  version: 1.0.0
  summary: Reverse-engineered HTTP API surface used by the substack-api TypeScript client
  description: |
    This document describes the **underlying HTTP API** that Substack exposes to its
    web and mobile clients. The [`substack-api`](https://github.com/christopher-s/substack-api)
    TypeScript library wraps these endpoints and is the source of truth for this
    specification — every operation here corresponds to a method in
    [`src/internal/services/`](https://github.com/christopher-s/substack-api/tree/main/src/internal/services).

    ## Hosts

    Substack uses two hostname classes:

    - **`https://substack.com`** for global endpoints (search, top posts, profiles by ID, …).
    - **`https://{publication}.substack.com`** for publication-scoped endpoints
      (a single newsletter's archive, comments, homepage, notes, …). The
      `publication` server variable is the subdomain segment of the publication
      (e.g. `stratechery`, `astralcodexten`).

    Choose the matching server when invoking each operation; operations document
    which class of host they belong to in their `tags` and `summary`.

    ## Authentication

    Authenticated requests use a session cookie named `substack.sid`. The cookie
    is established by the standard Substack web sign-in flow and copied into the
    client (see [README → Authentication](https://github.com/christopher-s/substack-api#authentication)).
    Operations that require a logged-in user declare
    `security: [{ substackSession: [] }]`.

    ## Rate limiting

    The TypeScript client applies a configurable client-side rate limit
    (`maxRequestsPerSecond`, default 25 RPS). The Substack server itself does
    not document rate limits, but expect HTTP 429 from sustained burst traffic.

    ## Stability

    This is a **reverse-engineered** specification. Substack does not publish a
    public API contract, so every field, route, and behaviour is empirical and
    may change without notice. Pin the client library version to a tested
    release for stability.

    ## Naming conventions

    Path segments mirror the underlying Substack API, which mixes
    underscore-separated (`post_management`, `live_streams`) and
    dash-separated (`post-tag`, `by-id`) naming. This spec preserves
    the original naming for accuracy.
  contact:
    name: substack-api maintainers
    url: https://github.com/christopher-s/substack-api/issues
  license:
    name: MIT
    url: https://github.com/christopher-s/substack-api/blob/main/LICENSE
externalDocs:
  description: substack-api source repository
  url: https://github.com/christopher-s/substack-api
servers:
  - url: https://substack.com
    description: Global Substack host (search, profiles by ID, top posts, categories, etc.)
  - url: https://{publication}.substack.com
    description: Publication-scoped host (archive, homepage, comments on a post, notes feed, …)
    variables:
      publication:
        default: 'on'
        description: |
          Publication subdomain (the segment before `.substack.com`). For example,
          `stratechery` for `https://stratechery.substack.com`. The default
          `on` points at Substack's official "On Substack" newsletter.
tags:
  - name: post
    description: Posts (newsletter articles).
  - name: profile
    description: User profiles, handles, and authenticated user details.
  - name: note
    description: Notes (short-form posts) and the comment-feed surface that backs them.
  - name: comment
    description: Threaded comments on posts, including replies.
  - name: discovery
    description: Discovery surfaces — top posts, trending, search, categories, explore feeds.
  - name: publication
    description: Publication-scoped reads (archive, homepage, posts, facepile, livestreams).
  - name: following
    description: Authenticated user's following / subscriber-list operations.
  - name: connectivity
    description: Connectivity / authentication probes.
  - name: post-management
    description: Draft CRUD, post management counts, and publishing workflows.
  - name: subscription
    description: Subscription status (per-publication and global).
  - name: settings
    description: Publisher and publication settings.
  - name: dashboard
    description: Publisher dashboard, stats, activity, and growth suggestions.
  - name: recommendations
    description: Publication recommendations and recommendation stats.
  - name: chat
    description: Direct messages (DMs), publication chat rooms, invites, and realtime messaging.
security: []
paths:
  /api/v1/posts/by-id/{id}:
    get:
      tags:
        - post
      summary: Get a post by numeric ID
      description: Fetch full post details (body, byline, reactions, paywall metadata) by post ID.
      operationId: getPostById
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            minimum: 1
          description: Numeric post ID.
      responses:
        '200':
          description: Full post payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FullPost'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/profile/posts:
    get:
      tags:
        - post
        - profile
      summary: List preview posts for a profile
      description: Paginated preview posts authored by a given user (offset/limit pagination).
      operationId: getPostsForProfile
      parameters:
        - in: query
          name: profile_user_id
          required: true
          schema:
            type: integer
            minimum: 1
          description: Numeric user ID whose posts to list.
        - in: query
          name: limit
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
          description: Maximum number of results to return per page.
        - in: query
          name: offset
          required: true
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Number of results to skip for pagination.
      responses:
        '200':
          description: Array of preview posts.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PreviewPost'
  /api/v1/handle/options:
    get:
      tags:
        - profile
      summary: List handle options for the authenticated user
      description: |
        Returns potential handles associated with the signed-in account. Used
        internally to discover the user's own handle/slug.
      operationId: getOwnSlug
      security:
        - substackSession: []
      responses:
        '200':
          description: Potential handle records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PotentialHandles'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/user/{slug}/public_profile:
    get:
      tags:
        - profile
      summary: Get a public profile by slug
      description: |
        Resolve a user's handle/slug to their full public profile. Used both
        for arbitrary lookups and (when authenticated and resolving the
        signed-in user's own slug) to fetch the authenticated profile.
      operationId: getProfileBySlug
      parameters:
        - in: path
          name: slug
          required: true
          schema:
            type: string
            minLength: 1
          description: User handle / slug (the segment after `/@` in profile URLs).
      responses:
        '200':
          description: Full public profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FullProfile'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/reader/feed/profile/{profileId}:
    get:
      tags:
        - profile
        - discovery
        - note
      summary: Profile reader feed
      description: |
        Multi-purpose endpoint that serves a profile's reader feed. The shape
        of the response varies by the `types` / `types[]` / `tab` query
        parameter:

        - `types=note` — a single note feed (comments-with-attachments).
        - `tab=posts|notes|comments|likes` — a profile activity feed (also
          used for likes via `tab=likes` *or* `types[]=like`, depending on
          the call site).
        - no parameters — resolves the user ID to a slug-bearing profile
          record (see `getProfileById`).

        Operations `getNotesForProfile`, `getProfileActivity`, and
        `getProfileLikes` all hit this same path with different query strings.
      operationId: getReaderProfileFeed
      parameters:
        - in: path
          name: profileId
          required: true
          schema:
            type: integer
            minimum: 1
          description: Numeric profile (user) ID.
        - in: query
          name: types
          schema:
            type: string
          description: Comma-separated content types (e.g. `note` for notes-only feed).
        - in: query
          name: types[]
          schema:
            type: string
          description: Repeated parameter for content type filtering (e.g. `types[]=like`).
        - in: query
          name: tab
          schema:
            type: string
            enum:
              - posts
              - notes
              - comments
              - likes
          description: Activity tab when used as a profile activity feed.
        - $ref: '#/components/parameters/CursorQuery'
      responses:
        '200':
          description: Either a `UserProfile` (no params) or a paginated reader feed.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/UserProfile'
                  - $ref: '#/components/schemas/PaginatedFeed'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/reader/comment/{id}:
    get:
      tags:
        - note
        - comment
      summary: Get a comment / note by ID
      description: |
        Fetch a single comment by ID. Substack treats notes as comments under
        the hood — this endpoint serves both. Used by `noteForId` and
        `commentForId`.
      operationId: getCommentById
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            minimum: 1
          description: Numeric comment ID.
      responses:
        '200':
          description: Comment response wrapper.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/reader/comment/{commentId}/replies:
    get:
      tags:
        - comment
      summary: Threaded replies to a comment
      description: Cursor-paginated replies under a parent comment.
      operationId: getCommentReplies
      parameters:
        - in: path
          name: commentId
          required: true
          schema:
            type: integer
            minimum: 1
          description: Numeric comment ID to get replies for.
        - $ref: '#/components/parameters/CursorQuery'
      responses:
        '200':
          description: Paginated reply branches.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentRepliesResponse'
  /api/v1/notes:
    get:
      tags:
        - note
      summary: List notes for the authenticated user
      description: Cursor-paginated notes feed for the signed-in user.
      operationId: getNotesForLoggedUser
      security:
        - substackSession: []
      parameters:
        - $ref: '#/components/parameters/CursorQuery'
      responses:
        '200':
          description: Paginated notes payload (raw shape).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedFeed'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/note_stats/{entityKey}:
    get:
      tags:
        - note
      summary: Analytics stats for a note
      description: |
        Card-based analytics for a single note. Returns an array of "cards"
        covering impressions (line chart over time), surfaces (bar chart of
        impression sources like feed, profile, email), audience (bar chart of
        viewer types like free, paid, other), and interactions (list of
        engagement actions — likes, restacks, replies).
      operationId: getNoteStats
      security:
        - substackSession: []
      parameters:
        - in: path
          name: entityKey
          required: true
          schema:
            type: string
          description: |
            Note entity key, prefixed with `c-` (e.g. `c-251155220`).
            Derived from the comment ID used in the `/reader/comment/{id}` endpoint.
      responses:
        '200':
          description: Note analytics cards.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoteStats'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Note not found or no stats available.
  /api/v1/post/{postId}/comments:
    get:
      tags:
        - comment
      summary: Comments on a post
      description: Top-level comments for a post, with a `more` flag for additional pages.
      operationId: getCommentsForPost
      parameters:
        - $ref: '#/components/parameters/PostIdPath'
      responses:
        '200':
          description: Comments and pagination flag.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedComments'
  /api/v1/inbox/top:
    get:
      tags:
        - discovery
      summary: Top / trending inbox posts
      description: |
        Substack's "top" inbox feed. Used for both `topPosts` (no params) and
        `trending` (with `limit`/`offset`) — the two are aliases of the same
        upstream endpoint.
      operationId: getTopInboxFeed
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
          description: Maximum number of results to return per page.
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
          description: Number of results to skip for pagination.
      responses:
        '200':
          description: Inbox feed payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopInboxFeed'
  /api/v1/reader/feed:
    get:
      tags:
        - discovery
        - activity
      summary: Reader feed (discovery and activity)
      description: |
        The main reader feed powering both discovery and the activity page.
        Supports two parameter styles:

        - **Discovery**: `tab` selects the surface (`for-you`, `top`, `popular`,
          `catchup`, `notes`, `explore`) with `type=base`.
        - **Activity**: `tab_id` selects the activity tab (`for-you`,
          `subscribed`, `bestseller`, or a numeric category ID like `"4"` for
          Technology). The response includes a `tabs` array listing all
          available tabs.

        Authenticated requests include personalized items (user suggestions,
        follow-ups). Anonymous requests return the public discovery feed.
      operationId: getReaderFeed
      parameters:
        - in: query
          name: tab
          schema:
            type: string
            enum:
              - for-you
              - top
              - popular
              - catchup
              - notes
              - explore
          description: Discovery feed tab filter.
        - in: query
          name: tab_id
          schema:
            type: string
          description: |
            Activity feed tab ID. Named tabs (`for-you`, `subscribed`,
            `bestseller`) or numeric category IDs (e.g. `"4"` for Technology).
        - in: query
          name: type
          schema:
            type: string
          description: Content-type filter for discovery mode (e.g. `base`).
        - $ref: '#/components/parameters/CursorQuery'
      responses:
        '200':
          description: Paginated reader feed with optional tabs metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityFeedResponse'
  /api/v1/categories:
    get:
      tags:
        - discovery
      summary: List all categories with subcategories
      operationId: getCategories
      responses:
        '200':
          description: All known categories.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Category'
  /api/v1/category/public/{categoryId}/posts:
    get:
      tags:
        - discovery
        - publication
      summary: Publications in a category
      description: Paginated publications for a given category id or slug.
      operationId: getCategoryPublications
      parameters:
        - in: path
          name: categoryId
          required: true
          schema:
            oneOf:
              - type: integer
                minimum: 1
              - type: string
                minLength: 1
          description: Category numeric ID or slug (`tech`, `podcast`, …).
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
          description: Maximum number of results to return per page.
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
          description: Number of results to skip for pagination.
      responses:
        '200':
          description: Publications page.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryPublications'
  /api/v1/top/search:
    get:
      tags:
        - discovery
      summary: Top search across all surfaces
      description: Cursor-paginated search across posts, people, publications, and notes.
      operationId: searchAll
      parameters:
        - in: query
          name: query
          required: true
          schema:
            type: string
            minLength: 1
          description: Search query string.
        - $ref: '#/components/parameters/CursorQuery'
      responses:
        '200':
          description: Paginated mixed-content search results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedFeed'
  /api/v1/profile/search:
    get:
      tags:
        - discovery
        - profile
      summary: Profile search
      description: Page-paginated search across user profiles.
      operationId: searchProfiles
      parameters:
        - in: query
          name: query
          required: true
          schema:
            type: string
            minLength: 1
          description: Search query string.
        - in: query
          name: page
          schema:
            type: integer
            minimum: 1
          description: Page number for pagination.
      responses:
        '200':
          description: Profile search results page.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileSearchResponse'
  /api/v1/search/explore/web:
    get:
      tags:
        - discovery
      summary: Explore search across tabs
      operationId: exploreSearch
      parameters:
        - in: query
          name: tab
          schema:
            type: string
          description: Feed tab filter (e.g. `for_you`, `following`).
        - in: query
          name: type
          required: true
          schema:
            type: string
          description: Content type filter.
        - $ref: '#/components/parameters/CursorQuery'
      responses:
        '200':
          description: Paginated explore results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedFeed'
  /api/v1/reader/feed/publication/{publicationId}:
    get:
      tags:
        - discovery
        - publication
      summary: Publication activity feed
      description: Activity feed for a publication (posts, notes).
      operationId: getPublicationFeed
      parameters:
        - in: path
          name: publicationId
          required: true
          schema:
            type: integer
            minimum: 1
          description: Numeric publication ID.
        - in: query
          name: tab
          schema:
            type: string
          description: Feed tab filter (e.g. `for_you`, `following`).
        - $ref: '#/components/parameters/CursorQuery'
      responses:
        '200':
          description: Paginated publication activity feed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedFeed'
  /api/v1/homepage_data:
    get:
      tags:
        - publication
      summary: Publication homepage data
      description: |
        Returns a publication's homepage payload — new posts, pinned posts,
        sections, and metadata. Must be called against the publication-scoped
        host (`https://{publication}.substack.com`).
      operationId: getHomepageData
      responses:
        '200':
          description: Homepage payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HomepageData'
  /api/v1/archive:
    get:
      tags:
        - publication
      summary: Publication archive
      description: Paginated post archive for a publication, with sort and search filters.
      operationId: getArchive
      parameters:
        - in: query
          name: sort
          schema:
            type: string
            enum:
              - new
              - top
          description: Sort order for results (e.g. `new`, `top`).
        - in: query
          name: search
          schema:
            type: string
          description: Full-text search filter for post titles and bodies.
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
          description: Number of results to skip for pagination.
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
          description: Maximum number of results to return per page.
      responses:
        '200':
          description: Paginated publication posts.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PublicationPost'
  /api/v1/posts:
    get:
      tags:
        - publication
      summary: Publication full posts
      description: |
        Full posts (including `body_html`) for a publication, paginated by
        offset/limit. Must be called against the publication-scoped host.
      operationId: getPublicationPosts
      parameters:
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
          description: Number of results to skip for pagination.
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
          description: Maximum number of results to return per page.
      responses:
        '200':
          description: Paginated full publication posts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPosts'
  /api/v1/post/{postId}/facepile:
    get:
      tags:
        - publication
      summary: Reactor facepile for a post
      description: List of users who reacted to a post.
      operationId: getPostFacepile
      parameters:
        - $ref: '#/components/parameters/PostIdPath'
      responses:
        '200':
          description: Facepile payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Facepile'
  /api/v1/live_streams/active/pub/{publicationId}:
    get:
      tags:
        - publication
      summary: Active live stream for a publication
      operationId: getActiveLiveStream
      parameters:
        - in: path
          name: publicationId
          required: true
          schema:
            type: integer
            minimum: 1
          description: Numeric publication ID.
      responses:
        '200':
          description: Live-stream payload (or empty if none active).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveStreamResponse'
  /api/v1/posts/{postId}/seen:
    post:
      tags:
        - publication
      summary: Mark a post as seen
      description: Records that the authenticated reader has seen a post.
      operationId: markPostSeen
      security:
        - substackSession: []
      parameters:
        - $ref: '#/components/parameters/PostIdPath'
      responses:
        '200':
          description: Seen state acknowledged.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '204':
          description: Seen state acknowledged (no body).
  /api/v1/user/{userId}/subscriber-lists:
    get:
      tags:
        - following
      summary: Authenticated user's following / subscriber lists
      operationId: getSubscriberLists
      security:
        - substackSession: []
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            type: integer
            minimum: 1
          description: Numeric user ID.
        - in: query
          name: lists
          required: true
          schema:
            type: string
          description: Comma-separated list keys (the client passes `following`).
      responses:
        '200':
          description: Subscriber-list payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriberLists'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/comment/feed/:
    post:
      tags:
        - note
      summary: Publish a note
      description: |
        Publishes a new note. The body is a ProseMirror document. When the
        client publishes a note with a link attachment it first calls
        `POST /api/v1/comment/attachment/` to obtain an attachment id, then
        passes that id in this body.
      operationId: publishNote
      security:
        - substackSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishNoteRequest'
      responses:
        '200':
          description: Published note.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublishNoteResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/comment/attachment/:
    post:
      tags:
        - note
      summary: Create a link attachment for a note
      description: |
        Creates a link-preview attachment that can be referenced by a
        subsequent `POST /api/v1/comment/feed/`. Step 1 of the
        "note with link" two-step publish.
      operationId: createNoteAttachment
      security:
        - substackSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAttachmentRequest'
      responses:
        '200':
          description: Attachment record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAttachmentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/post_management/published:
    get:
      tags:
        - post-management
      summary: List published posts (publisher dashboard)
      description: |
        Paginated list of published posts for the publication. Requires
        authentication and a publication-scoped host.
      operationId: getPublishedPosts
      security:
        - substackSession: []
      parameters:
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Number of results to skip for pagination.
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
          description: Maximum number of results to return per page.
        - in: query
          name: order_by
          schema:
            type: string
            default: post_date
          description: Sort field (e.g. `post_date`).
        - in: query
          name: order_direction
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
          description: Sort direction (`asc` or `desc`).
      responses:
        '200':
          description: Paginated list of published posts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostManagementResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/post_management/drafts:
    get:
      tags:
        - post-management
      summary: List drafts (publisher dashboard)
      description: |
        Paginated list of draft posts for the publication. Requires
        authentication and a publication-scoped host.
      operationId: getDrafts
      security:
        - substackSession: []
      parameters:
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Number of results to skip for pagination.
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
          description: Maximum number of results to return per page.
        - in: query
          name: order_by
          schema:
            type: string
            default: draft_updated_at
          description: Field to sort results by (e.g. `post_date`).
        - in: query
          name: order_direction
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
          description: Sort direction (`asc` or `desc`).
      responses:
        '200':
          description: Paginated list of drafts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostManagementResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/post_management/scheduled:
    get:
      tags:
        - post-management
      summary: List scheduled posts (publisher dashboard)
      description: |
        Paginated list of scheduled posts. Requires authentication and a
        publication-scoped host.
      operationId: getScheduledPosts
      security:
        - substackSession: []
      parameters:
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Number of results to skip for pagination.
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
          description: Maximum number of results to return per page.
        - in: query
          name: order_by
          schema:
            type: string
            default: trigger_at
          description: Field to sort results by (e.g. `post_date`).
        - in: query
          name: order_direction
          schema:
            type: string
            enum:
              - asc
              - desc
            default: asc
          description: Sort direction (`asc` or `desc`).
      responses:
        '200':
          description: Paginated list of scheduled posts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostManagementResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/post_management/counts:
    get:
      tags:
        - post-management
      summary: Get post counts by status
      description: |
        Returns counts of posts grouped by status (published, draft, scheduled,
        etc.) for the publication. Requires authentication and a
        publication-scoped host.
      operationId: getPostCounts
      security:
        - substackSession: []
      parameters:
        - in: query
          name: query
          schema:
            type: string
            default: ''
          description: Optional search filter for counting.
      responses:
        '200':
          description: Post count summary.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostManagementCounts'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/drafts/{id}:
    get:
      tags:
        - post-management
      summary: Get a single draft by ID
      description: Fetches a draft post by its numeric ID. Requires authentication.
      operationId: getDraft
      security:
        - substackSession: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DraftPost'
          description: Returns the full draft object.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
        - post-management
      summary: Update a draft
      description: |
        Updates a draft's title, body, or other fields. Requires authentication
        and a publication-scoped host.
      operationId: updateDraft
      security:
        - substackSession: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            minimum: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                draft_title:
                  type: string
                draft_body:
                  type: string
                  description: Updated HTML body.
              additionalProperties: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DraftPost'
          description: Returns the updated draft.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - post-management
      summary: Delete a draft
      description: Permanently deletes a draft post. Requires authentication.
      operationId: deleteDraft
      security:
        - substackSession: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Deletion confirmed.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/drafts:
    post:
      tags:
        - post-management
      summary: Create a new draft
      description: |
        Creates a new draft post for the publication. Requires authentication
        and a publication-scoped host.
      operationId: createDraft
      security:
        - substackSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - draft_title
              properties:
                draft_title:
                  type: string
                draft_body:
                  type: string
                  description: HTML body content.
                type:
                  type: string
                  default: newsletter
                  description: Post type (e.g. `newsletter`).
                audience:
                  type: string
                  default: everyone
                  description: Audience visibility.
                draft_bylines:
                  type: array
                  items:
                    type: object
                  description: Byline entries with user IDs.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DraftPost'
          description: Returns the newly created draft.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/drafts/{id}/publish:
    post:
      tags:
        - post-management
      summary: Publish a draft
      description: |
        Publishes an existing draft immediately. Requires authentication and a
        publication-scoped host.
      operationId: publishDraft
      security:
        - substackSession: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            minimum: 1
          description: Draft ID to publish.
      responses:
        '200':
          description: Published post.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DraftPost'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/publication:
    get:
      tags:
        - publication
      summary: Get publication details
      description: |
        Returns metadata about the publication (name, subdomain, description,
        etc.). Works on the publication-scoped host.
      operationId: getPublicationDetails
      responses:
        '200':
          description: Publication metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicationDetail'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/publication/post-tag:
    get:
      tags:
        - publication
      summary: Get publication post tags
      description: Returns the set of tags configured for the publication. Works on the publication-scoped host.
      operationId: getPostTags
      responses:
        '200':
          description: Array of tag objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PostTag'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/subscription:
    get:
      tags:
        - subscription
      summary: Get current subscription to a publication
      description: |
        Returns the authenticated user's subscription status for the
        publication-scoped host. Requires authentication.
      operationId: getCurrentSubscription
      security:
        - substackSession: []
      responses:
        '200':
          description: Subscription record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/subscriptions/page_v2:
    get:
      tags:
        - subscription
      summary: List all subscriptions (global)
      description: |
        Paginated list of all subscriptions for the authenticated user across
        all publications. Uses the global `substack.com` host. Requires
        authentication but no publication scope.
      operationId: getAllSubscriptions
      security:
        - substackSession: []
      parameters:
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Number of results to skip for pagination.
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
          description: Maximum number of results to return per page.
      responses:
        '200':
          description: Paginated subscription list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/settings:
    get:
      tags:
        - settings
      summary: Get publisher settings
      description: |
        Returns the publication's publisher settings (publication name, author
        details, etc.). Requires authentication and a publication-scoped host.
      operationId: getPublisherSettings
      security:
        - substackSession: []
      responses:
        '200':
          description: Publisher settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublisherSettings'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/post/{postId}/comment:
    post:
      tags:
        - comment
      summary: Create a comment on a post
      description: |
        Posts a new comment on the specified post. Requires authentication and
        a publication-scoped host.
      operationId: createComment
      security:
        - substackSession: []
      parameters:
        - in: path
          name: postId
          required: true
          schema:
            type: integer
            minimum: 1
          description: Post ID to comment on.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - body
                - post_id
              properties:
                body:
                  type: string
                  description: Comment body text.
                post_id:
                  type: integer
                  description: Post ID (repeated in body).
      responses:
        '200':
          description: Created comment.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/comment/{commentId}:
    delete:
      tags:
        - comment
      summary: Delete a comment
      description: |
        Permanently deletes a comment. Requires authentication and a
        publication-scoped host.
      operationId: deleteComment
      security:
        - substackSession: []
      parameters:
        - in: path
          name: commentId
          required: true
          schema:
            type: integer
            minimum: 1
          description: Comment ID to delete.
      responses:
        '200':
          description: Deletion confirmed.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/live_streams:
    get:
      tags:
        - publication
      summary: List live streams
      description: |
        Returns live streams for the publication, optionally filtered by
        status. Uses the publication-scoped host.
      operationId: getLiveStreams
      parameters:
        - in: query
          name: status
          schema:
            type: string
            default: scheduled
          description: Filter by stream status (e.g. `scheduled`, `active`, `ended`).
      responses:
        '200':
          description: Live stream list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveStreamList'
  /api/v1/live_stream/eligible_hosts:
    get:
      tags:
        - publication
      summary: Get eligible live stream hosts
      description: |
        Returns users eligible to host a live stream for the given publication.
        Uses the publication-scoped host.
      operationId: getEligibleHosts
      parameters:
        - in: query
          name: publication_id
          required: true
          schema:
            type: integer
            minimum: 1
          description: Publication ID.
      responses:
        '200':
          description: Array of eligible host user objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
  /api/v1/publish-dashboard/summary-v2:
    get:
      tags:
        - dashboard
      summary: Publish dashboard summary (v2)
      description: |
        Returns an extended dashboard summary with additional metrics compared
        to v1. Requires authentication and a publication-scoped host.
      operationId: getDashboardSummaryV2
      security:
        - substackSession: []
      responses:
        '200':
          description: Extended dashboard summary metrics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
  # ── Publication Stats: Network ──────────────────────────────────

  /api/v1/publication/stats/network_attribution:
    get:
      tags:
        - stats
      summary: Network attribution for subscriber acquisition
      description: |
        Shows where subscribers come from within the Substack network. Each row
        represents a source (e.g. search, recommendations, cross-promotion) with
        subscriber counts and percentage share for the given time window.
      operationId: getNetworkAttribution
      security:
        - substackSession: []
      parameters:
        - in: query
          name: time_window
          schema:
            type: string
            default: 90+days
          description: Time window for attribution data.
        - in: query
          name: is_subscribed
          schema:
            type: boolean
            default: false
          description: Filter to subscribed users only.
      responses:
        '200':
          description: Network attribution rows.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkAttribution'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ── Publication Stats: Audience ─────────────────────────────────

  /api/v1/publication/stats/followers/timeseries:
    get:
      tags:
        - stats
      summary: Follower count time series
      description: |
        Returns follower count chart data over time. Used in the Audience tab
        to display how the publication's follower base has grown.
      operationId: getFollowerTimeseries
      security:
        - substackSession: []
      parameters:
        - in: query
          name: from
          required: true
          schema:
            type: string
            format: date
          description: Start date for the time range (ISO format).
      responses:
        '200':
          description: Follower count time series data.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  timeseries:
                    type: array
                    items:
                      type: array
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/publication/stats/audience_insights/location:
    get:
      tags:
        - stats
      summary: Audience geographic breakdown
      description: |
        Returns a geographic breakdown of the audience. The granularity
        parameter controls whether results are US-state-level or global-country-level.
        Used in the Audience tab to render the location map.
      operationId: getAudienceLocation
      security:
        - substackSession: []
      parameters:
        - in: query
          name: metric
          schema:
            type: string
            default: free+signups
          description: Audience metric to measure (e.g. free+signups, paid+signups).
        - in: query
          name: granularity
          schema:
            type: string
            default: usa
          description: Geographic granularity — usa for US states, global for countries.
      responses:
        '200':
          description: Audience location data.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/publication/stats/audience_insights/location/total:
    get:
      tags:
        - stats
      summary: Aggregate audience location totals
      description: |
        Returns aggregate location totals across all granularities. Used in the
        Audience tab to display summary counts for global and US audiences.
      operationId: getAudienceLocationTotal
      security:
        - substackSession: []
      responses:
        '200':
          description: Aggregate location totals.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  global:
                    type: object
                    properties:
                      locations:
                        type: integer
                      total:
                        type: integer
                  usa:
                    type: object
                    properties:
                      locations:
                        type: integer
                      total:
                        type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/publication/stats/audience_insights/overlap:
    get:
      tags:
        - stats
      summary: Publications with overlapping audiences
      description: |
        Returns other publications whose audiences overlap with this one. Each
        entry includes the overlap percentage and the publication metadata.
        Used in the Audience tab to show audience similarity.
      operationId: getAudienceOverlap
      security:
        - substackSession: []
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            default: 6
          description: Maximum number of overlapping publications to return.
      responses:
        '200':
          description: Audience overlap data.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
                  properties:
                    percentOverlap:
                      type: string
                    pub:
                      type: object
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ── Publication Stats: Traffic ───────────────────────────────────

  /api/v1/publication/stats/publication_traffic/30d_views:
    get:
      tags:
        - stats
      summary: 30-day view count with delta
      description: |
        Returns the total view count for the past 30 days along with the
        percentage change from the prior period. Displayed as a KPI card in
        the Traffic tab of the publisher dashboard.
      operationId: getTraffic30dViews
      security:
        - substackSession: []
      responses:
        '200':
          description: 30-day traffic summary.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  views:
                    type: integer
                  viewsDiff:
                    type: number
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/publication/stats/visitor_sources:
    get:
      tags:
        - stats
      summary: Breakdown of visitor sources
      description: |
        Returns a paginated list of where visitors come from (e.g. direct,
        search, social). Each row has the source name, view count, and
        visitor count. Used in the Traffic tab source breakdown table.
      operationId: getVisitorSources
      security:
        - substackSession: []
      parameters:
        - in: query
          name: from_date
          required: true
          schema:
            type: string
            format: date
          description: Start date for the time range.
        - in: query
          name: to_date
          required: true
          schema:
            type: string
            format: date
          description: End date for the time range.
        - in: query
          name: offset
          schema:
            type: integer
            default: 0
          description: Pagination offset.
        - in: query
          name: limit
          schema:
            type: integer
            default: 20
          description: Maximum number of results to return.
        - in: query
          name: order_by
          schema:
            type: string
            default: views
          description: Field to sort results by.
        - in: query
          name: order_direction
          schema:
            type: string
            default: desc
          description: Sort direction (asc or desc).
      responses:
        '200':
          description: Visitor source breakdown.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/publication/stats/publication_traffic/timeseries:
    get:
      tags:
        - stats
      summary: Traffic time series
      description: |
        Returns traffic chart data over time as an array of [date, value] pairs.
        Optionally filtered by traffic category (e.g. organic). Used in the
        Traffic tab to render the views chart.
      operationId: getTrafficTimeseries
      security:
        - substackSession: []
      parameters:
        - in: query
          name: from
          required: true
          schema:
            type: string
            format: date
          description: Start date for the time range.
        - in: query
          name: to
          required: true
          schema:
            type: string
            format: date
          description: End date for the time range.
        - in: query
          name: category
          schema:
            type: string
          description: Optional traffic category filter (e.g. organic).
      responses:
        '200':
          description: Traffic time series data.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: array
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ── Publication Stats: Posts / Email ─────────────────────────────

  /api/v1/publication/stats/email_stats/30d_open_rate:
    get:
      tags:
        - stats
      summary: 30-day email open rate KPI
      description: |
        Returns the aggregate email open rate for the past 30 days along with
        the change from the prior period. Displayed as a KPI card in the Posts
        tab of the publisher dashboard.
      operationId: getEmail30dOpenRate
      security:
        - substackSession: []
      responses:
        '200':
          description: 30-day email open rate.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Email30dOpenRate'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/publication/stats/email_stats:
    get:
      tags:
        - stats
      summary: Per-post email statistics
      description: |
        Returns a paginated table of per-post email statistics including open
        rates, click rates, and delivery counts. Each row represents a single
        post's email campaign performance.
      operationId: getEmailStats
      security:
        - substackSession: []
      parameters:
        - in: query
          name: offset
          schema:
            type: integer
            default: 0
          description: Pagination offset.
        - in: query
          name: limit
          schema:
            type: integer
            default: 20
          description: Maximum number of results to return.
        - in: query
          name: order_by
          schema:
            type: string
            default: post_date
          description: Field to sort results by.
        - in: query
          name: order_direction
          schema:
            type: string
            default: desc
          description: Sort direction (asc or desc).
      responses:
        '200':
          description: Per-post email statistics.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  rows:
                    type: array
                    items:
                      type: object
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ── Publication Stats: Pledges ───────────────────────────────────

  /api/v1/publication/stats/payment_pledges/summary:
    get:
      tags:
        - stats
      summary: Aggregate pledge revenue summary
      description: |
        Returns aggregate pledge revenue totals including total pledge count and
        total monetary amount. Displayed as the headline KPI in the Pledges tab
        of the publisher dashboard.
      operationId: getPledgeSummary
      security:
        - substackSession: []
      responses:
        '200':
          description: Pledge revenue summary.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PledgeSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/publication/stats/payment_pledges:
    get:
      tags:
        - stats
      summary: Individual pledge records
      description: |
        Returns a list of individual pledge records with user details and pledge
        metadata (amount, interval, founding status, optional note). Used in the
        Pledges tab to display the pledge ledger.
      operationId: getPledges
      security:
        - substackSession: []
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            default: 20
          description: Maximum number of pledge records to return.
      responses:
        '200':
          description: Individual pledge records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pledges'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ── Publication Stats: Sharing ───────────────────────────────────

  /api/v1/publication/stats/reader-referrals:
    get:
      tags:
        - stats
      summary: Reader referral leaderboard
      description: |
        Returns a leaderboard of readers who have referred the most new visitors
        or subscribers. Each row includes the reader's identity and referral
        counts. Used in the Sharing tab of the publisher dashboard.
      operationId: getReaderReferrals
      security:
        - substackSession: []
      parameters:
        - in: query
          name: to
          required: true
          schema:
            type: string
            format: date
          description: End date for the referral window.
        - in: query
          name: offset
          schema:
            type: integer
            default: 0
          description: Pagination offset.
        - in: query
          name: limit
          schema:
            type: integer
            default: 20
          description: Maximum number of results to return.
        - in: query
          name: order_by
          schema:
            type: string
            default: visitors
          description: Field to sort results by.
        - in: query
          name: order_direction
          schema:
            type: string
            default: desc
          description: Sort direction (asc or desc).
      responses:
        '200':
          description: Reader referral data.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ── Growth Stats ─────────────────────────────────────────────────

  /api/v1/publication/stats/growth/sources:
    get:
      tags:
        - growth
      summary: Hierarchical growth source breakdown
      description: |
        Returns a hierarchical breakdown of traffic and subscriber sources
        (Substack, Direct, Search, Social, Email) with nested children. Each
        source includes metrics like user counts and timeseries data.
      operationId: getGrowthSources
      security:
        - substackSession: []
      parameters:
        - in: query
          name: from_date
          required: true
          schema:
            type: string
            format: date
          description: Start date for the time range.
        - in: query
          name: to_date
          required: true
          schema:
            type: string
            format: date
          description: End date for the time range.
        - in: query
          name: order_by
          schema:
            type: string
            default: users
          description: Field to sort results by.
        - in: query
          name: order_direction
          schema:
            type: string
            default: desc
          description: Sort direction (asc or desc).
      responses:
        '200':
          description: Growth source breakdown.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrowthSources'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/publication/stats/growth/partial-timeseries:
    post:
      tags:
        - growth
      summary: Growth source time series chart data
      description: |
        Accepts a list of selected growth sources and returns timeseries chart
        data for each. Used to render the visitor growth chart with selectable
        source overlays in the Growth section of the publisher dashboard.
      operationId: getGrowthPartialTimeseries
      security:
        - substackSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              required:
                - sources
                - orderBy
                - orderDirection
              properties:
                sources:
                  type: array
                  items:
                    type: object
                  description: Array of source objects to include in the timeseries.
                orderBy:
                  type: string
                  description: Field to order by.
                orderDirection:
                  type: string
                  description: Sort direction (asc or desc).
                fromDate:
                  type: string
                  format: date
                  description: Optional start date for the time range.
                toDate:
                  type: string
                  format: date
                  description: Optional end date for the time range.
      responses:
        '200':
          description: Growth timeseries data.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  timeseries:
                    type: array
                    items:
                      type: object
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/publication/stats/growth/events:
    get:
      tags:
        - growth
      summary: Publication events for growth correlation
      description: |
        Returns a list of publication events (posts, notes, etc.) within a date
        range. Used to correlate publication activity with growth spikes shown
        on the Growth visitors chart.
      operationId: getGrowthEvents
      security:
        - substackSession: []
      parameters:
        - in: query
          name: from_date
          required: true
          schema:
            type: string
            format: date
          description: Start date for the event window.
        - in: query
          name: to_date
          required: true
          schema:
            type: string
            format: date
          description: End date for the event window.
      responses:
        '200':
          description: Publication events.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrowthEvents'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/publication/stats/emails/timeseries:
    get:
      tags:
        - dashboard
      summary: Email stats time series
      description: |
        Returns time-series email statistics (opens, clicks, sends) for the
        publication. Requires authentication and a publication-scoped host.
      operationId: getEmailStatsTimeseries
      security:
        - substackSession: []
      parameters:
        - in: query
          name: start_date
          schema:
            type: string
            format: date
          description: Start date for the time range.
        - in: query
          name: end_date
          schema:
            type: string
            format: date
          description: End date for the time range.
      responses:
        '200':
          description: Email stats time series data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailStatsTimeseries'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/activity/unread:
    get:
      tags:
        - dashboard
      summary: Unread activity count
      description: |
        Returns the count of unread activity items for the authenticated user.
        Requires authentication.
      operationId: getUnreadActivity
      security:
        - substackSession: []
      responses:
        '200':
          description: Unread activity count.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnreadActivity'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/publication_user:
    get:
      tags:
        - settings
      summary: List publication users
      description: |
        Returns the list of users associated with the publication, including
        their roles and visibility settings. Requires authentication and a
        publication-scoped host.
      operationId: getPublicationUsers
      security:
        - substackSession: []
      responses:
        '200':
          description: Publication user list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicationUsersResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/publication/sections:
    get:
      tags:
        - settings
        - publication
      summary: List publication sections
      description: |
        Returns the sections configured for the publication. Requires
        authentication and a publication-scoped host.
      operationId: getPublicationSections
      security:
        - substackSession: []
      responses:
        '200':
          description: Array of section objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Section'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/boost:
    get:
      tags:
        - settings
      summary: Get boost settings
      description: |
        Returns the publication's boost configuration, including whether boost
        is enabled and associated feature flags. Requires authentication and a
        publication-scoped host.
      operationId: getBoostSettings
      security:
        - substackSession: []
      responses:
        '200':
          description: Boost settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoostSettings'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/publication_settings:
    get:
      tags:
        - settings
        - publication
      summary: Get publication settings
      description: |
        Returns the publication's settings and configuration. Requires
        authentication and a publication-scoped host.
      operationId: getPublicationSettings
      security:
        - substackSession: []
      responses:
        '200':
          description: Publication settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicationSettings'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/pledges/plans:
    get:
      tags:
        - dashboard
        - subscription
      summary: List pledge plans
      description: |
        Returns the payment pledge plans configured for the publication,
        including plan names, amounts, intervals, and currencies. Requires
        authentication and a publication-scoped host.
      operationId: getPledgePlans
      security:
        - substackSession: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PledgePlans'
          description: Returns available pledge plans.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/pledges/plans/summary:
    get:
      tags:
        - dashboard
        - subscription
      summary: Pledge plans summary
      description: |
        Returns a summary of pledge plans including plan details, aggregate
        pledge statistics, and total pledge count. Requires authentication and
        a publication-scoped host.
      operationId: getPledgePlansSummary
      security:
        - substackSession: []
      responses:
        '200':
          description: Pledge plans summary.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PledgePlansSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/publication/bestseller_tier:
    get:
      tags:
        - dashboard
        - publication
      summary: Get publication bestseller tier
      description: |
        Returns the publication's current bestseller tier, category, and rank.
        Requires authentication and a publication-scoped host.
      operationId: getBestsellerTier
      security:
        - substackSession: []
      responses:
        '200':
          description: Bestseller tier information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BestsellerTier'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/recommendations/from/{publicationId}:
    get:
      tags:
        - recommendations
      summary: Outgoing recommendations for a publication
      description: |
        Returns the list of publications that the given publication recommends
        (outgoing). Supports paginated mode via query parameters. Requires
        authentication.
      operationId: getOutgoingRecommendations
      security:
        - substackSession: []
      parameters:
        - in: path
          name: publicationId
          required: true
          schema:
            type: integer
            minimum: 1
          description: Publication ID to get outgoing recommendations for.
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
          description: Pagination offset.
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
          description: Maximum number of results to return.
        - in: query
          name: paginate
          schema:
            type: boolean
            default: false
          description: Set to `true` for paginated results.
      responses:
        '200':
          description: List of recommended publications.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/recommendations/{publicationId}:
    get:
      tags:
        - recommendations
      summary: Recommendations for a publication
      description: |
        Returns recommendations associated with the given publication.
        Supports paginated mode via `paginate=true` query parameter. Requires
        authentication.
      operationId: getRecommendations
      security:
        - substackSession: []
      parameters:
        - in: path
          name: publicationId
          required: true
          schema:
            type: integer
            minimum: 1
          description: Publication ID to get recommendations for.
        - in: query
          name: paginate
          schema:
            type: boolean
            default: false
          description: Set to `true` for cursor-paginated results.
        - $ref: '#/components/parameters/CursorQuery'
      responses:
        '200':
          description: List of recommended publications.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/recommendations/stats/from:
    get:
      tags:
        - recommendations
      summary: Outgoing recommendation stats
      description: |
        Returns statistics about recommendations made by the authenticated
        user's publication (outgoing). Requires authentication.
      operationId: getOutgoingRecommendationStats
      security:
        - substackSession: []
      responses:
        '200':
          description: Outgoing recommendation statistics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationStats'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/recommendations/stats/to:
    get:
      tags:
        - recommendations
      summary: Incoming recommendation stats
      description: |
        Returns statistics about recommendations pointing to the authenticated
        user's publication (incoming). Requires authentication.
      operationId: getIncomingRecommendationStats
      security:
        - substackSession: []
      responses:
        '200':
          description: Incoming recommendation statistics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationStats'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/recommendations/exist:
    get:
      tags:
        - recommendations
      summary: Check if recommendations exist
      description: |
        Returns whether the authenticated user has any recommendations
        configured. Requires authentication.
      operationId: checkRecommendationsExist
      security:
        - substackSession: []
      responses:
        '200':
          description: Existence check result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationsExist'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/recommendations/{publicationId}/suggested:
    get:
      tags:
        - recommendations
      summary: Suggested recommendations for a publication
      description: |
        Returns a list of suggested publications to recommend based on the
        given publication. Requires authentication.
      operationId: getSuggestedRecommendations
      security:
        - substackSession: []
      parameters:
        - in: path
          name: publicationId
          required: true
          schema:
            type: integer
            minimum: 1
          description: Publication ID to get suggestions for.
      responses:
        '200':
          description: Suggested recommendations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/messages/unread-count:
    get:
      tags:
        - chat
      summary: Get unread message counts
      description: |
        Returns unread counts for DMs, publication chat rooms, and pending chat
        invites. Displayed as a badge in the Substack sidebar. Requires
        authentication.
      operationId: getUnreadMessageCount
      security:
        - substackSession: []
      responses:
        '200':
          description: Unread message counts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnreadMessageCount'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/messages/inbox:
    get:
      tags:
        - chat
      summary: List chat inbox threads
      description: |
        Returns the authenticated user's chat inbox — a paginated list of
        conversation threads (direct messages and publication chat rooms).
        Supports filtering by tab.
      operationId: getChatInbox
      security:
        - substackSession: []
      parameters:
        - in: query
          name: tab
          schema:
            type: string
            enum:
              - all
              - people
            default: all
          description: |
            Inbox tab filter. `all` returns every thread type (DMs + publication
            chat rooms). `people` returns only direct-message threads.
      responses:
        '200':
          description: Paginated inbox thread list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatInbox'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/messages/inbox/seen:
    post:
      tags:
        - chat
      summary: Mark inbox as seen
      description: |
        Marks the authenticated user's chat inbox as seen, clearing the
        unread indicator. Called automatically when the user opens the chat page.
      operationId: markInboxSeen
      security:
        - substackSession: []
      responses:
        '200':
          description: Inbox marked as seen.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/messages/dm/{conversationId}:
    get:
      tags:
        - chat
      summary: Get direct message conversation
      description: |
        Retrieves messages in a DM conversation. The `conversationId` is a UUID
        (e.g. `d2f49720-3ce0-4ce8-99fc-4cf7439698ca`). Supports cursor-based
        pagination for loading older messages. Publication chat rooms use a
        different ID format (`chat-{publicationId}`) and are not accessible via
        this endpoint.
      operationId: getDmMessages
      security:
        - substackSession: []
      parameters:
        - in: path
          name: conversationId
          required: true
          schema:
            type: string
            format: uuid
          description: UUID of the DM conversation.
        - in: query
          name: cursor
          schema:
            type: string
          description: Opaque pagination cursor for loading older messages.
      responses:
        '200':
          description: DM conversation with messages and participant info.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DmConversation'
        '400':
          description: Invalid conversation ID (e.g. non-UUID format).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags:
        - chat
      summary: Send a DM message
      description: |
        Sends a message in a DM conversation. Returns the created message with
        thread metadata and participant info. The `client_id` must be a UUID
        (used for idempotency / deduplication).
      operationId: sendDmMessage
      security:
        - substackSession: []
      parameters:
        - in: path
          name: conversationId
          required: true
          schema:
            type: string
            format: uuid
          description: UUID of the DM conversation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendDmMessageRequest'
      responses:
        '200':
          description: Message sent successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendDmMessageResponse'
        '400':
          description: Invalid request body or non-UUID client_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/messages/dm/{conversationId}/seen:
    post:
      tags:
        - chat
      summary: Mark DM conversation as seen
      description: |
        Marks all messages in a DM conversation as seen by the authenticated
        user. Called when the user opens a conversation.
      operationId: markDmSeen
      security:
        - substackSession: []
      parameters:
        - in: path
          name: conversationId
          required: true
          schema:
            type: string
            format: uuid
          description: UUID of the DM conversation.
      responses:
        '200':
          description: Conversation marked as seen.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/messages/dm/invites:
    get:
      tags:
        - chat
      summary: List pending chat invites
      description: |
        Returns pending DM invitations (chat requests) received by the
        authenticated user. Includes both regular threads and subscriber-initiated
        threads, grouped separately.
      operationId: getDmInvites
      security:
        - substackSession: []
      parameters:
        - in: query
          name: paginate
          schema:
            type: boolean
            default: true
          description: Enable paginated results.
      responses:
        '200':
          description: Pending chat invites with thread details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DmInvites'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/messages/inbox/invites/seen:
    post:
      tags:
        - chat
      summary: Mark invite inbox as seen
      description: |
        Marks the chat invite/requests inbox as seen, clearing the invite
        notification badge.
      operationId: markInviteInboxSeen
      security:
        - substackSession: []
      responses:
        '200':
          description: Invite inbox marked as seen.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/threads/reactions:
    get:
      tags:
        - chat
      summary: Get available reaction types
      description: |
        Returns the catalog of emoji reaction types available for chat messages,
        organized by category. Includes suggested reactions and a full emoji map.
      operationId: getThreadReactions
      security:
        - substackSession: []
      responses:
        '200':
          description: Reaction type catalog.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadReactions'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/realtime/token:
    get:
      tags:
        - chat
      summary: Get realtime WebSocket auth token
      description: |
        Returns a JWT token and WebSocket endpoint for realtime message delivery.
        The token is scoped to the requested channels (typically
        `user:{userId}`). Connect to the returned `endpoint` URL via WebSocket
        using the token for authentication to receive push notifications for new
        messages.
      operationId: getRealtimeToken
      security:
        - substackSession: []
      parameters:
        - in: query
          name: channels
          required: true
          schema:
            type: string
          description: |
            Comma-separated channel subscriptions. Typically `user:{userId}` for
            per-user realtime events.
      responses:
        '200':
          description: WebSocket auth token and endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RealtimeToken'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/blocks/ids:
    get:
      tags:
        - profile
      summary: Get blocked user IDs
      description: |
        Returns the list of user IDs that the authenticated user has blocked.
        Used by the chat UI and profile surfaces to filter blocked users.
      operationId: getBlockedUserIds
      security:
        - substackSession: []
      responses:
        '200':
          description: Array of blocked user IDs.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ── Confirmed-accessible endpoints (Tier 1) ─────────────────────────

  /api/v1/publication_export:
    get:
      tags:
        - publication
      summary: Publication data export status
      description: |
        Returns a list of data export jobs for the publication. Each entry
        describes an export's type, status, and timestamps. Requires
        authentication and a publication-scoped host.
      operationId: getPublicationExport
      security:
        - substackSession: []
      responses:
        '200':
          description: Array of export job records (empty if none requested).
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PublicationExport'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/publication/search:
    get:
      tags:
        - discovery
      summary: Publication search from authenticated context
      description: |
        Search for publications from the authenticated user's publication-scoped
        context. Returns matching publications with metadata.
      operationId: searchPublications
      security:
        - substackSession: []
      parameters:
        - in: query
          name: query
          required: true
          schema:
            type: string
          description: Search query string.
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 20
          description: Maximum number of results.
      responses:
        '200':
          description: Search results matching the query.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PublicationSearchResult'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ── Auth-gated endpoints (Tier 2 — require publication owner) ────────

  /api/v1/publication/subscribers:
    get:
      tags:
        - publication
      summary: Publication subscriber list
      description: |
        Returns the full subscriber list for the publication. Requires
        publication-owner authentication. Not accessible to standard
        authenticated users.
      operationId: getPublicationSubscribers
      security:
        - substackSession: []
      parameters:
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Number of results to skip for pagination.
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
          description: Maximum number of results per page.
      responses:
        '200':
          description: Paginated subscriber list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicationSubscriberList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden — requires publication owner privileges.

  /api/v1/publication/revenue:
    get:
      tags:
        - dashboard
      summary: Publication revenue analytics
      description: |
        Revenue analytics for the publication. Supports date-range filtering.
        Requires publication-owner authentication.
      operationId: getPublicationRevenue
      security:
        - substackSession: []
      parameters:
        - in: query
          name: from
          schema:
            type: string
            format: date
          description: Start date for the revenue window.
        - in: query
          name: to
          schema:
            type: string
            format: date
          description: End date for the revenue window.
      responses:
        '200':
          description: Revenue analytics data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicationRevenue'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden — requires publication owner privileges.

  /api/v1/publication/insights:
    get:
      tags:
        - dashboard
      summary: Publication insights summary
      description: |
        Returns a summary of publication insights including growth, engagement,
        and audience metrics. Requires publication-owner authentication.
      operationId: getPublicationInsights
      security:
        - substackSession: []
      responses:
        '200':
          description: Publication insights summary.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicationInsights'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden — requires publication owner privileges.

  /api/v1/publication/follower_stats:
    get:
      tags:
        - dashboard
      summary: Publication follower statistics
      description: |
        Follower statistics for the publication including counts, growth rates,
        and engagement metrics. Requires publication-owner authentication.
      operationId: getFollowerStats
      security:
        - substackSession: []
      responses:
        '200':
          description: Follower statistics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FollowerStats'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden — requires publication owner privileges.

  /api/v1/publication/payments:
    get:
      tags:
        - dashboard
      summary: Publication payment data
      description: |
        Payment and transaction data for the publication. Requires
        publication-owner authentication.
      operationId: getPublicationPayments
      security:
        - substackSession: []
      parameters:
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Number of results to skip.
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
          description: Maximum number of results per page.
      responses:
        '200':
          description: Payment records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicationPayments'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden — requires publication owner privileges.

  /api/v1/subscription/stats:
    post:
      tags:
        - subscription
      summary: Subscription statistics
      description: |
        Returns subscription statistics for the publication. Accepts filter
        parameters in the request body. Requires publication-owner
        authentication.
      operationId: getSubscriptionStats
      security:
        - substackSession: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              properties:
                from:
                  type: string
                  format: date
                  description: Start date for the stats window.
                to:
                  type: string
                  format: date
                  description: End date for the stats window.
      responses:
        '200':
          description: Subscription statistics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionStats'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden — requires publication owner privileges.

  /api/v1/user/subscriptions:
    get:
      tags:
        - subscription
      summary: User's subscribed publications
      description: |
        Returns the list of publications the authenticated user is subscribed
        to. Requires authentication.
      operationId: getUserSubscriptions
      security:
        - substackSession: []
      responses:
        '200':
          description: List of user subscriptions.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserSubscription'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden — requires authentication.

components:
  parameters:
    PostIdPath:
      in: path
      name: postId
      required: true
      schema:
        type: integer
        minimum: 1
      description: Numeric post ID.
    CursorQuery:
      in: query
      name: cursor
      schema:
        type: string
      description: Opaque pagination cursor returned by a previous response.
  responses:
    Unauthorized:
      description: Authentication required or session expired.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
    BadRequest:
      description: Malformed request.
      content:
        application/json:
[...]
