openapi: 3.1.0
info:
  title: Substack API
  version: 1.0.0
  summary: Reverse-engineered HTTP API surface used by the substack-api TypeScript client
  description: |
    This document describes the **underlying HTTP API** that Substack exposes to its
    web and mobile clients. The [`substack-api`](https://github.com/christopher-s/substack-api)
    TypeScript library wraps these endpoints and is the source of truth for this
    specification — every operation here corresponds to a method in
    [`src/internal/services/`](https://github.com/christopher-s/substack-api/tree/main/src/internal/services).

    ## Hosts

    Substack uses two hostname classes:

    - **`https://substack.com`** for global endpoints (search, top posts, profiles by ID, …).
    - **`https://{publication}.substack.com`** for publication-scoped endpoints
      (a single newsletter's archive, comments, homepage, notes, …). The
      `publication` server variable is the subdomain segment of the publication
      (e.g. `stratechery`, `astralcodexten`).

    Choose the matching server when invoking each operation; operations document
    which class of host they belong to in their `tags` and `summary`.

    ## Authentication

    Authenticated requests use a session cookie named `substack.sid`. The cookie
    is established by the standard Substack web sign-in flow and copied into the
    client (see [README → Authentication](https://github.com/christopher-s/substack-api#authentication)).
    Operations that require a logged-in user declare
    `security: [{ substackSession: [] }]`.

    ## Rate limiting

    The TypeScript client applies a configurable client-side rate limit
    (`maxRequestsPerSecond`, default 25 RPS). The Substack server itself does
    not document rate limits, but expect HTTP 429 from sustained burst traffic.

    ## Stability

    This is a **reverse-engineered** specification. Substack does not publish a
    public API contract, so every field, route, and behaviour is empirical and
    may change without notice. Pin the client library version to a tested
    release for stability.

    ## Naming conventions

    Path segments mirror the underlying Substack API, which mixes
    underscore-separated (`post_management`, `live_streams`) and
    dash-separated (`post-tag`, `by-id`) naming. This spec preserves
    the original naming for accuracy.
  contact:
    name: substack-api maintainers
    url: https://github.com/christopher-s/substack-api/issues
  license:
    name: MIT
    url: https://github.com/christopher-s/substack-api/blob/main/LICENSE
externalDocs:
  description: substack-api source repository
  url: https://github.com/christopher-s/substack-api
servers:
  - url: https://substack.com
    description: Global Substack host (search, profiles by ID, top posts, categories, etc.)
  - url: https://{publication}.substack.com
    description: Publication-scoped host (archive, homepage, comments on a post, notes feed, …)
    variables:
      publication:
        default: 'on'
        description: |
          Publication subdomain (the segment before `.substack.com`). For example,
          `stratechery` for `https://stratechery.substack.com`. The default
          `on` points at Substack's official "On Substack" newsletter.
tags:
  - name: post
    description: Posts (newsletter articles).
  - name: profile
    description: User profiles, handles, and authenticated user details.
  - name: note
    description: Notes (short-form posts) and the comment-feed surface that backs them.
  - name: comment
    description: Threaded comments on posts, including replies.
  - name: discovery
    description: Discovery surfaces — top posts, trending, search, categories, explore feeds.
  - name: publication
    description: Publication-scoped reads (archive, homepage, posts, facepile, livestreams).
  - name: following
    description: Authenticated user's following / subscriber-list operations.
  - name: connectivity
    description: Connectivity / authentication probes.
  - name: post-management
    description: Draft CRUD, post management counts, and publishing workflows.
  - name: subscription
    description: Subscription status (per-publication and global).
  - name: settings
    description: Publisher and publication settings.
security: []
paths:
  /api/v1/posts/by-id/{id}:
    get:
      tags: [post]
      summary: Get a post by numeric ID
      description: Fetch full post details (body, byline, reactions, paywall metadata) by post ID.
      operationId: getPostById
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer, minimum: 1 }
          description: Numeric post ID.
      responses:
        '200':
          description: Full post payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FullPost'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/profile/posts:
    get:
      tags: [post, profile]
      summary: List preview posts for a profile
      description: Paginated preview posts authored by a given user (offset/limit pagination).
      operationId: getPostsForProfile
      parameters:
        - in: query
          name: profile_user_id
          required: true
          schema: { type: integer, minimum: 1 }
          description: Numeric user ID whose posts to list.
        - in: query
          name: limit
          required: true
          schema: { type: integer, minimum: 1, maximum: 100, default: 25 }
        - in: query
          name: offset
          required: true
          schema: { type: integer, minimum: 0, default: 0 }
      responses:
        '200':
          description: Array of preview posts.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PreviewPost'

  /api/v1/handle/options:
    get:
      tags: [profile]
      summary: List handle options for the authenticated user
      description: |
        Returns potential handles associated with the signed-in account. Used
        internally to discover the user's own handle/slug.
      operationId: getOwnSlug
      security:
        - substackSession: []
      responses:
        '200':
          description: Potential handle records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PotentialHandles'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/user/{slug}/public_profile:
    get:
      tags: [profile]
      summary: Get a public profile by slug
      description: |
        Resolve a user's handle/slug to their full public profile. Used both
        for arbitrary lookups and (when authenticated and resolving the
        signed-in user's own slug) to fetch the authenticated profile.
      operationId: getProfileBySlug
      parameters:
        - in: path
          name: slug
          required: true
          schema: { type: string, minLength: 1 }
          description: User handle / slug (the segment after `/@` in profile URLs).
      responses:
        '200':
          description: Full public profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FullProfile'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/reader/feed/profile/{profileId}:
    get:
      tags: [profile, discovery, note]
      summary: Profile reader feed
      description: |
        Multi-purpose endpoint that serves a profile's reader feed. The shape
        of the response varies by the `types` / `types[]` / `tab` query
        parameter:

        - `types=note` — a single note feed (comments-with-attachments).
        - `tab=posts|notes|comments|likes` — a profile activity feed (also
          used for likes via `tab=likes` *or* `types[]=like`, depending on
          the call site).
        - no parameters — resolves the user ID to a slug-bearing profile
          record (see `getProfileById`).

        Operations `getNotesForProfile`, `getProfileActivity`, and
        `getProfileLikes` all hit this same path with different query strings.
      operationId: getReaderProfileFeed
      parameters:
        - in: path
          name: profileId
          required: true
          schema: { type: integer, minimum: 1 }
          description: Numeric profile (user) ID.
        - in: query
          name: types
          schema: { type: string }
          description: |
            Comma-separated content types. Pass `note` to get a notes-only
            feed (used by `getNotesForProfile`).
        - in: query
          name: types[]
          schema: { type: string }
          description: |
            Repeated query parameter form (e.g. `types[]=like`) used by
            `getProfileLikes` for the likes timeline.
        - in: query
          name: tab
          schema:
            type: string
            enum: [posts, notes, comments, likes]
          description: Activity tab when used as a profile activity feed.
        - $ref: '#/components/parameters/CursorQuery'
      responses:
        '200':
          description: Either a `UserProfile` (no params) or a paginated reader feed.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/UserProfile'
                  - $ref: '#/components/schemas/PaginatedFeed'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/reader/comment/{id}:
    get:
      tags: [note, comment]
      summary: Get a comment / note by ID
      description: |
        Fetch a single comment by ID. Substack treats notes as comments under
        the hood — this endpoint serves both. Used by `noteForId` and
        `commentForId`.
      operationId: getCommentById
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer, minimum: 1 }
      responses:
        '200':
          description: Comment response wrapper.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/reader/comment/{commentId}/replies:
    get:
      tags: [comment]
      summary: Threaded replies to a comment
      description: Cursor-paginated replies under a parent comment.
      operationId: getCommentReplies
      parameters:
        - in: path
          name: commentId
          required: true
          schema: { type: integer, minimum: 1 }
        - $ref: '#/components/parameters/CursorQuery'
      responses:
        '200':
          description: Paginated reply branches.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentRepliesResponse'

  /api/v1/notes:
    get:
      tags: [note]
      summary: List notes for the authenticated user
      description: Cursor-paginated notes feed for the signed-in user.
      operationId: getNotesForLoggedUser
      security:
        - substackSession: []
      parameters:
        - $ref: '#/components/parameters/CursorQuery'
      responses:
        '200':
          description: Paginated notes payload (raw shape).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedFeed'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/post/{postId}/comments:
    get:
      tags: [comment]
      summary: Comments on a post
      description: Top-level comments for a post, with a `more` flag for additional pages.
      operationId: getCommentsForPost
      parameters:
        - $ref: '#/components/parameters/PostIdPath'
      responses:
        '200':
          description: Comments and pagination flag.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedComments'

  /api/v1/inbox/top:
    get:
      tags: [discovery]
      summary: Top / trending inbox posts
      description: |
        Substack's "top" inbox feed. Used for both `topPosts` (no params) and
        `trending` (with `limit`/`offset`) — the two are aliases of the same
        upstream endpoint.
      operationId: getTopInboxFeed
      parameters:
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 100 }
        - in: query
          name: offset
          schema: { type: integer, minimum: 0 }
      responses:
        '200':
          description: Inbox feed payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopInboxFeed'
  /api/v1/reader/feed:
    get:
      tags: [discovery]
      summary: Discovery reader feed
      description: |
        The main discovery feed exposed to readers. `tab` selects the surface
        (`for-you`, `top`, `popular`, `catchup`, `notes`, `explore`); `type`
        is a required content-type filter.
      operationId: getReaderFeed
      parameters:
        - in: query
          name: tab
          schema:
            type: string
            enum: [for-you, top, popular, catchup, notes, explore]
        - in: query
          name: type
          required: true
          schema: { type: string }
          description: Required content-type filter (e.g. `posts`, `notes`).
        - $ref: '#/components/parameters/CursorQuery'
      responses:
        '200':
          description: Paginated reader feed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedFeed'
  /api/v1/categories:
    get:
      tags: [discovery]
      summary: List all categories with subcategories
      operationId: getCategories
      responses:
        '200':
          description: All known categories.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Category'
  /api/v1/category/public/{categoryId}/posts:
    get:
      tags: [discovery, publication]
      summary: Publications in a category
      description: Paginated publications for a given category id or slug.
      operationId: getCategoryPublications
      parameters:
        - in: path
          name: categoryId
          required: true
          schema:
            oneOf:
              - { type: integer, minimum: 1 }
              - { type: string, minLength: 1 }
          description: Category numeric ID or slug (`tech`, `podcast`, …).
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 100 }
        - in: query
          name: offset
          schema: { type: integer, minimum: 0 }
      responses:
        '200':
          description: Publications page.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryPublications'
  /api/v1/top/search:
    get:
      tags: [discovery]
      summary: Top search across all surfaces
      description: Cursor-paginated search across posts, people, publications, and notes.
      operationId: searchAll
      parameters:
        - in: query
          name: query
          required: true
          schema: { type: string, minLength: 1 }
        - $ref: '#/components/parameters/CursorQuery'
      responses:
        '200':
          description: Paginated mixed-content search results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedFeed'
  /api/v1/profile/search:
    get:
      tags: [discovery, profile]
      summary: Profile search
      description: Page-paginated search across user profiles.
      operationId: searchProfiles
      parameters:
        - in: query
          name: query
          required: true
          schema: { type: string, minLength: 1 }
        - in: query
          name: page
          schema: { type: integer, minimum: 1 }
      responses:
        '200':
          description: Profile search results page.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileSearchResponse'
  /api/v1/search/explore/web:
    get:
      tags: [discovery]
      summary: Explore search across tabs
      operationId: exploreSearch
      parameters:
        - in: query
          name: tab
          schema: { type: string }
        - in: query
          name: type
          required: true
          schema: { type: string }
        - $ref: '#/components/parameters/CursorQuery'
      responses:
        '200':
          description: Paginated explore results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedFeed'
  /api/v1/reader/feed/publication/{publicationId}:
    get:
      tags: [discovery, publication]
      summary: Publication activity feed
      description: Activity feed for a publication (posts, notes).
      operationId: getPublicationFeed
      parameters:
        - in: path
          name: publicationId
          required: true
          schema: { type: integer, minimum: 1 }
        - in: query
          name: tab
          schema: { type: string }
        - $ref: '#/components/parameters/CursorQuery'
      responses:
        '200':
          description: Paginated publication activity feed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedFeed'

  /api/v1/homepage_data:
    get:
      tags: [publication]
      summary: Publication homepage data
      description: |
        Returns a publication's homepage payload — new posts, pinned posts,
        sections, and metadata. Must be called against the publication-scoped
        host (`https://{publication}.substack.com`).
      operationId: getHomepageData
      responses:
        '200':
          description: Homepage payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HomepageData'
  /api/v1/archive:
    get:
      tags: [publication]
      summary: Publication archive
      description: Paginated post archive for a publication, with sort and search filters.
      operationId: getArchive
      parameters:
        - in: query
          name: sort
          schema:
            type: string
            enum: [new, top]
        - in: query
          name: search
          schema: { type: string }
        - in: query
          name: offset
          schema: { type: integer, minimum: 0 }
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 100 }
      responses:
        '200':
          description: Paginated publication posts.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PublicationPost'
  /api/v1/posts:
    get:
      tags: [publication]
      summary: Publication full posts
      description: |
        Full posts (including `body_html`) for a publication, paginated by
        offset/limit. Must be called against the publication-scoped host.
      operationId: getPublicationPosts
      parameters:
        - in: query
          name: offset
          schema: { type: integer, minimum: 0 }
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 100 }
      responses:
        '200':
          description: Paginated full publication posts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPosts'
  /api/v1/post/{postId}/facepile:
    get:
      tags: [publication]
      summary: Reactor facepile for a post
      description: List of users who reacted to a post.
      operationId: getPostFacepile
      parameters:
        - $ref: '#/components/parameters/PostIdPath'
      responses:
        '200':
          description: Facepile payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Facepile'
  /api/v1/live_streams/active/pub/{publicationId}:
    get:
      tags: [publication]
      summary: Active live stream for a publication
      operationId: getActiveLiveStream
      parameters:
        - in: path
          name: publicationId
          required: true
          schema: { type: integer, minimum: 1 }
      responses:
        '200':
          description: Live-stream payload (or empty if none active).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveStreamResponse'
  /api/v1/posts/{postId}/seen:
    post:
      tags: [publication]
      summary: Mark a post as seen
      description: Records that the authenticated reader has seen a post.
      operationId: markPostSeen
      security:
        - substackSession: []
      parameters:
        - $ref: '#/components/parameters/PostIdPath'
      responses:
        '200':
          description: Seen state acknowledged.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
        '204':
          description: Seen state acknowledged (no body).

  /api/v1/user-setting:
    put:
      tags: [following, connectivity]
      summary: Write a user setting
      description: |
        Writes a single user setting (the client uses `last_home_tab`). The
        response includes the authenticated `user_id`, which is how the client
        derives the current user's ID and probes connectivity.
      operationId: writeUserSetting
      security:
        - substackSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserSettingRequest'
      responses:
        '200':
          description: Updated user setting record (includes `user_id`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSettingResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/user/{userId}/subscriber-lists:
    get:
      tags: [following]
      summary: Authenticated user's following / subscriber lists
      operationId: getSubscriberLists
      security:
        - substackSession: []
      parameters:
        - in: path
          name: userId
          required: true
          schema: { type: integer, minimum: 1 }
        - in: query
          name: lists
          required: true
          schema: { type: string }
          description: Comma-separated list keys (the client passes `following`).
      responses:
        '200':
          description: Subscriber-list payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriberLists'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/comment/feed/:
    post:
      tags: [note]
      summary: Publish a note
      description: |
        Publishes a new note. The body is a ProseMirror document. When the
        client publishes a note with a link attachment it first calls
        `POST /api/v1/comment/attachment/` to obtain an attachment id, then
        passes that id in this body.
      operationId: publishNote
      security:
        - substackSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishNoteRequest'
      responses:
        '200':
          description: Published note.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublishNoteResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '400':
          $ref: '#/components/responses/BadRequest'
  /api/v1/comment/attachment/:
    post:
      tags: [note]
      summary: Create a link attachment for a note
      description: |
        Creates a link-preview attachment that can be referenced by a
        subsequent `POST /api/v1/comment/feed/`. Step 1 of the
        "note with link" two-step publish.
      operationId: createNoteAttachment
      security:
        - substackSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAttachmentRequest'
      responses:
        '200':
          description: Attachment record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAttachmentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '400':
          $ref: '#/components/responses/BadRequest'

  # ── Post Management ──────────────────────────────────────────────────

  /api/v1/post_management/published:
    get:
      tags: [post-management]
      summary: List published posts (publisher dashboard)
      description: |
        Paginated list of published posts for the publication. Requires
        authentication and a publication-scoped host.
      operationId: getPublishedPosts
      security:
        - substackSession: []
      parameters:
        - in: query
          name: offset
          schema: { type: integer, minimum: 0, default: 0 }
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 100, default: 25 }
        - in: query
          name: order_by
          schema: { type: string, default: post_date }
          description: Sort field (e.g. `post_date`).
        - in: query
          name: order_direction
          schema: { type: string, enum: [asc, desc], default: desc }
      responses:
        '200':
          description: Paginated list of published posts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostManagementResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/post_management/drafts:
    get:
      tags: [post-management]
      summary: List drafts (publisher dashboard)
      description: |
        Paginated list of draft posts for the publication. Requires
        authentication and a publication-scoped host.
      operationId: getDrafts
      security:
        - substackSession: []
      parameters:
        - in: query
          name: offset
          schema: { type: integer, minimum: 0, default: 0 }
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 100, default: 25 }
        - in: query
          name: order_by
          schema: { type: string, default: draft_updated_at }
        - in: query
          name: order_direction
          schema: { type: string, enum: [asc, desc], default: desc }
      responses:
        '200':
          description: Paginated list of drafts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostManagementResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/post_management/scheduled:
    get:
      tags: [post-management]
      summary: List scheduled posts (publisher dashboard)
      description: |
        Paginated list of scheduled posts. Requires authentication and a
        publication-scoped host.
      operationId: getScheduledPosts
      security:
        - substackSession: []
      parameters:
        - in: query
          name: offset
          schema: { type: integer, minimum: 0, default: 0 }
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 100, default: 25 }
        - in: query
          name: order_by
          schema: { type: string, default: trigger_at }
        - in: query
          name: order_direction
          schema: { type: string, enum: [asc, desc], default: asc }
      responses:
        '200':
          description: Paginated list of scheduled posts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostManagementResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/post_management/counts:
    get:
      tags: [post-management]
      summary: Get post counts by status
      description: |
        Returns counts of posts grouped by status (published, draft, scheduled,
        etc.) for the publication. Requires authentication and a
        publication-scoped host.
      operationId: getPostCounts
      security:
        - substackSession: []
      parameters:
        - in: query
          name: query
          schema: { type: string, default: '' }
          description: Optional search filter for counting.
      responses:
        '200':
          description: Post count summary.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostManagementCounts'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/drafts/{id}:
    get:
      tags: [post-management]
      summary: Get a single draft by ID
      description: Fetches a draft post by its numeric ID. Requires authentication.
      operationId: getDraft
      security:
        - substackSession: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer, minimum: 1 }
          description: Draft ID.
      responses:
        '200':
          description: Draft payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DraftPost'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [post-management]
      summary: Update a draft
      description: |
        Updates a draft's title, body, or other fields. Requires authentication
        and a publication-scoped host.
      operationId: updateDraft
      security:
        - substackSession: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer, minimum: 1 }
          description: Draft ID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                draft_title:
                  type: string
                  description: Updated title.
                draft_body:
                  type: string
                  description: Updated HTML body.
              additionalProperties: true
      responses:
        '200':
          description: Updated draft.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DraftPost'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [post-management]
      summary: Delete a draft
      description: Permanently deletes a draft post. Requires authentication.
      operationId: deleteDraft
      security:
        - substackSession: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer, minimum: 1 }
          description: Draft ID.
      responses:
        '200':
          description: Deletion confirmed.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/drafts:
    post:
      tags: [post-management]
      summary: Create a new draft
      description: |
        Creates a new draft post for the publication. Requires authentication
        and a publication-scoped host.
      operationId: createDraft
      security:
        - substackSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [draft_title]
              properties:
                draft_title:
                  type: string
                  description: Draft title.
                draft_body:
                  type: string
                  description: HTML body content.
                type:
                  type: string
                  default: newsletter
                  description: Post type (e.g. `newsletter`).
                audience:
                  type: string
                  default: everyone
                  description: Audience visibility.
                draft_bylines:
                  type: array
                  items:
                    type: object
                  description: Byline entries with user IDs.
      responses:
        '200':
          description: Created draft.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DraftPost'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/v1/drafts/{id}/publish:
    post:
      tags: [post-management]
      summary: Publish a draft
      description: |
        Publishes an existing draft immediately. Requires authentication and a
        publication-scoped host.
      operationId: publishDraft
      security:
        - substackSession: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer, minimum: 1 }
          description: Draft ID to publish.
      responses:
        '200':
          description: Published post.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DraftPost'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ── Publication Details ───────────────────────────────────────────────

  /api/v1/publication:
    get:
      tags: [publication]
      summary: Get publication details
      description: |
        Returns metadata about the publication (name, subdomain, description,
        etc.). Works on the publication-scoped host.
      operationId: getPublicationDetails
      responses:
        '200':
          description: Publication metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicationDetail'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/publication/post-tag:
    get:
      tags: [publication]
      summary: Get publication post tags
      description: Returns the set of tags configured for the publication. Works on the publication-scoped host.
      operationId: getPostTags
      responses:
        '200':
          description: Array of tag objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PostTag'
        '404':
          $ref: '#/components/responses/NotFound'

  # ── Subscriptions ─────────────────────────────────────────────────────

  /api/v1/subscription:
    get:
      tags: [subscription]
      summary: Get current subscription to a publication
      description: |
        Returns the authenticated user's subscription status for the
        publication-scoped host. Requires authentication.
      operationId: getCurrentSubscription
      security:
        - substackSession: []
      responses:
        '200':
          description: Subscription record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/subscriptions/page_v2:
    get:
      tags: [subscription]
      summary: List all subscriptions (global)
      description: |
        Paginated list of all subscriptions for the authenticated user across
        all publications. Uses the global `substack.com` host. Requires
        authentication but no publication scope.
      operationId: getAllSubscriptions
      security:
        - substackSession: []
      parameters:
        - in: query
          name: offset
          schema: { type: integer, minimum: 0, default: 0 }
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 100, default: 25 }
      responses:
        '200':
          description: Paginated subscription list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ── Settings ──────────────────────────────────────────────────────────

  /api/v1/settings:
    get:
      tags: [settings]
      summary: Get publisher settings
      description: |
        Returns the publication's publisher settings (publication name, author
        details, etc.). Requires authentication and a publication-scoped host.
      operationId: getPublisherSettings
      security:
        - substackSession: []
      responses:
        '200':
          description: Publisher settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublisherSettings'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ── Comment Write Operations ──────────────────────────────────────────

  /api/v1/post/{postId}/comment:
    post:
      tags: [comment]
      summary: Create a comment on a post
      description: |
        Posts a new comment on the specified post. Requires authentication and
        a publication-scoped host.
      operationId: createComment
      security:
        - substackSession: []
      parameters:
        - in: path
          name: postId
          required: true
          schema: { type: integer, minimum: 1 }
          description: Post ID to comment on.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body, post_id]
              properties:
                body:
                  type: string
                  description: Comment body text.
                post_id:
                  type: integer
                  description: Post ID (repeated in body).
      responses:
        '200':
          description: Created comment.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/v1/comment/{commentId}:
    delete:
      tags: [comment]
      summary: Delete a comment
      description: |
        Permanently deletes a comment. Requires authentication and a
        publication-scoped host.
      operationId: deleteComment
      security:
        - substackSession: []
      parameters:
        - in: path
          name: commentId
          required: true
          schema: { type: integer, minimum: 1 }
          description: Comment ID to delete.
      responses:
        '200':
          description: Deletion confirmed.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ── Live Streams (extended) ───────────────────────────────────────────

  /api/v1/live_streams:
    get:
      tags: [publication]
      summary: List live streams
      description: |
        Returns live streams for the publication, optionally filtered by
        status. Uses the publication-scoped host.
      operationId: getLiveStreams
      parameters:
        - in: query
          name: status
          schema: { type: string, default: scheduled }
          description: Filter by stream status (e.g. `scheduled`, `active`, `ended`).
      responses:
        '200':
          description: Live stream list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveStreamList'

  /api/v1/live_stream/eligible_hosts:
    get:
      tags: [publication]
      summary: Get eligible live stream hosts
      description: |
        Returns users eligible to host a live stream for the given publication.
        Uses the publication-scoped host.
      operationId: getEligibleHosts
      parameters:
        - in: query
          name: publication_id
          required: true
          schema: { type: integer, minimum: 1 }
          description: Publication ID.
      responses:
        '200':
          description: Array of eligible host user objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object

components:
  parameters:
    PostIdPath:
      in: path
      name: postId
      required: true
      schema: { type: integer, minimum: 1 }
      description: Numeric post ID.
    CursorQuery:
      in: query
      name: cursor
      schema: { type: string }
      description: Opaque pagination cursor returned by a previous response.
  responses:
    Unauthorized:
      description: Authentication required or session expired.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
    BadRequest:
      description: Malformed request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
    Forbidden:
      description: Insufficient permissions (e.g. accessing another user's resource).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
  securitySchemes:
    substackSession:
      type: apiKey
      in: cookie
      name: substack.sid
      description: |
        Substack session cookie established by the standard browser sign-in flow.
        Copy the value of `substack.sid` from your authenticated browser session
        to authenticate API requests. The `substack-api` client sets this cookie
        automatically when given a `token` in `SubstackConfig`.
  schemas:
    ApiError:
      type: object
      description: Generic Substack API error envelope.
      properties:
        error:
          type: string
          description: Machine-readable error code.
        message:
          type: string
          description: Human-readable error message.
        status_code:
          type: integer
        details:
          type: object
          additionalProperties: true
      additionalProperties: true

    Reactions:
      type: object
      description: Reaction counts keyed by emoji.
      additionalProperties:
        type: integer
        minimum: 0
      examples:
        - { '❤': 12, '🔥': 4 }

    Byline:
      type: object
      description: Compact author byline (a denormalised user record).
      properties:
        id: { type: integer }
        name: { type: string }
        handle: { type: string }
        photo_url: { type: string, format: uri }
        bio: { type: string }
        is_admin: { type: boolean }
      required: [id, name, handle, photo_url]
      additionalProperties: true

    User:
      type: object
      description: Substack user record.
      properties:
        id: { type: integer }
        name: { type: string }
        handle: { type: string }
        previous_name: { type: string }
        photo_url: { type: string, format: uri }
        bio: { type: string }
        profile_set_up_at: { type: string, format: date-time }
        reader_installed_at: { type: string, format: date-time }
      required: [id]
      additionalProperties: true

    PreviewPost:
      type: object
      description: Lightweight post preview returned by listing endpoints.
      properties:
        id: { type: integer }
        title: { type: string }
        subtitle: { type: string }
        slug: { type: string }
        post_date: { type: string, format: date-time }
        canonical_url: { type: string, format: uri }
        type: { type: string }
        truncated_body_text: { type: string }
        cover_image: { type: string, format: uri }
        audience: { type: string }
        publication_id: { type: integer }
        reactions:
          $ref: '#/components/schemas/Reactions'
        comment_count: { type: integer }
      examples:
        - id: 123456
          title: 'The Future of Remote Work'
          slug: 'the-future-of-remote-work'
          post_date: '2024-01-15T09:00:00Z'
          canonical_url: 'https://example.substack.com/p/the-future-of-remote-work'
          type: 'newsletter'
          cover_image: 'https://example.substack.com/p/image.jpg'
          audience: 'everyone'
          publication_id: 98765
          reactions:
            '❤': 42
            '🔥': 7
          comment_count: 12
      required: [id, title]
      additionalProperties: true

    FullPost:
      description: Full post payload as returned by `GET /api/v1/posts/by-id/{id}`.
      allOf:
        - $ref: '#/components/schemas/PreviewPost'
        - type: object
          properties:
            body_html:
              type: string
              description: Rendered HTML body. Only present for posts the caller has access to (free posts, or paywalled posts when authenticated as a subscriber).
            htmlBody: { type: string }
            description: { type: string }
            wordcount: { type: integer }
            podcast_url: { type: string, format: uri }
            publishedBylines:
              type: array
              items: { $ref: '#/components/schemas/Byline' }
            reaction_count: { type: integer }
            restacks: { type: integer }
            child_comment_count: { type: integer }
            postTags:
              type: array
              items: { type: string }
          additionalProperties: true

    PublicationPost:
      type: object
      description: |
        Post as returned by publication-scoped endpoints (`/archive`, `/posts`,
        homepage). Shape varies depending on whether `body_html` is included.
      properties:
        id: { type: integer }
        publication_id: { type: integer }
        title: { type: string }
        slug: { type: string }
        post_date: { type: string, format: date-time }
        canonical_url: { type: string, format: uri }
        cover_image: { type: string, format: uri }
        type: { type: string }
        audience: { type: string }
        body_html:
          type: string
          description: Rendered HTML (present for `/api/v1/posts`, absent for `/archive`).
        truncated_body_text: { type: string }
        wordcount: { type: integer }
        comment_count: { type: integer }
        reactions:
          $ref: '#/components/schemas/Reactions'
        publishedBylines:
          type: array
          items: { $ref: '#/components/schemas/Byline' }
      required: [id, title, slug, post_date, canonical_url]
      additionalProperties: true

    Post:
      description: |
        Generic post record. Substack returns post payloads in three concrete
        shapes depending on the endpoint family:

        - `PreviewPost` for profile feeds (`/api/v1/profile/posts`).
        - `FullPost` for the by-id lookup (`/api/v1/posts/by-id/{id}`).
        - `PublicationPost` for publication-scoped endpoints (`/archive`,
          `/posts`, homepage).

        Use this alias when a consumer wants to type a value that may carry
        any of the three shapes (e.g. when normalizing across feeds).
      oneOf:
        - $ref: '#/components/schemas/PreviewPost'
        - $ref: '#/components/schemas/FullPost'
        - $ref: '#/components/schemas/PublicationPost'

    PaginatedPosts:
      type: array
      description: |
        Array of full publication posts. The Substack endpoint returns a bare
        array; pagination is offset-based via the `offset` and `limit` query
        parameters. The `substack-api` client wraps this into an async
        iterator that stops when fewer than `limit` items are returned.
      items:
        $ref: '#/components/schemas/PublicationPost'

    Section:
      type: object
      description: A section / category within a publication.
      properties:
        id: { type: integer }
        publication_id: { type: integer }
        name: { type: string }
        slug: { type: string }
        description: { type: string }
        hidden: { type: boolean }
      additionalProperties: true

    HomepageData:
      type: object
      description: Publication homepage payload.
      properties:
        newPosts:
          type: array
          items: { $ref: '#/components/schemas/PublicationPost' }
        pinnedPosts:
          type: array
          items: { $ref: '#/components/schemas/PublicationPost' }
        sections:
          type: array
          items: { $ref: '#/components/schemas/Section' }
        publicationName: { type: string }
        publicationLogoUrl: { type: string, format: uri }
        publicationCustomDomain: { type: string }
      additionalProperties: true

    NoteAttachment:
      type: object
      description: |
        A note attachment — typically a link preview, but can be an image or
        embedded media. Attachments are created via `POST /api/v1/comment/attachment/`
        and referenced from the publish payload.
      properties:
        id:
          oneOf:
            - { type: integer }
            - { type: string }
        type:
          type: string
          enum: [link, image, video, audio, embed]
        url: { type: string, format: uri }
        image_url: { type: string, format: uri }
        title: { type: string }
        description: { type: string }
        host: { type: string }
        favicon_url: { type: string, format: uri }
      additionalProperties: true

    NoteUser:
      type: object
      description: A user referenced in a note context.
      properties:
        id: { type: integer }
        name: { type: string }
        handle: { type: string }
        photo_url: { type: string, format: uri }
        previous_name: { type: string }
        bio: { type: string }
        profile_set_up_at: { type: string, format: date-time }
        reader_installed_at: { type: string, format: date-time }
        bestseller_tier: { type: string }
        status:
          type: object
          additionalProperties: true
        primary_publication:
          type: object
          additionalProperties: true
      required: [id, name, handle, photo_url]
      additionalProperties: true

    NoteComment:
      type: object
      description: The nested comment object inside a note feed envelope.
      properties:
        id: { type: integer }
        body: { type: string }
        user_id: { type: integer }
        type: { type: string }
        date: { type: string, format: date-time }
        name: { type: string }
        reaction_count: { type: integer }
        reactions:
          $ref: '#/components/schemas/Reactions'
        restacks: { type: integer }
        restacked: { type: boolean }
        children_count: { type: integer }
        language: { type: string }
        body_json:
          type: object
          additionalProperties: true
        publication_id: { type: integer }
        post_id: { type: integer }
        edited_at:
          oneOf:
            - { type: string, format: date-time }
            - { type: 'null' }
        ancestor_path: { type: string }
        reply_minimum_role: { type: string }
        media_clip_id: { type: string }
        photo_url: { type: string, format: uri }
        bio: { type: string }
        handle: { type: string }
        user_bestseller_tier: { type: string }
        attachments:
          type: array
          items: { $ref: '#/components/schemas/NoteAttachment' }
        userStatus:
          type: object
          additionalProperties: true
        user_primary_publication:
          type: object
          additionalProperties: true
        autotranslate_to: { type: string }
        tracking_parameters:
          type: object
          additionalProperties: true
      examples:
        - id: 987654
          body: 'Great insights on remote work!'
          user_id: 12345
          type: 'comment'
          date: '2024-01-15T10:30:00Z'
          name: 'Jane Doe'
          reaction_count: 5
          reactions:
            '❤': 3
            '👏': 2
          restacks: 1
          children_count: 2
          photo_url: 'https://substackcdn.com/image.jpg'
          handle: 'janedoe'
      required: [id, body]
      additionalProperties: true

    Note:
      type: object
      description: |
        A Substack note feed envelope. Notes are returned as wrapper objects
        with `entity_key` and `type`, plus optional nested `comment`, `context`,
        and `parentComments` fields.
      properties:
        entity_key: { type: string }
        type: { type: string }
        context:
          type: object
          properties:
            type: { type: string }
            timestamp: { type: string, format: date-time }
            users:
              type: array
              items: { $ref: '#/components/schemas/NoteUser' }
            fallbackReason: { type: string }
            fallbackUrl: { type: string, format: uri }
            isFresh: { type: boolean }
            source: { type: string }
            page: { type: string }
            page_rank: { type: integer }
          additionalProperties: true
        publication:
          type: object
          additionalProperties: true
        post:
          type: object
          additionalProperties: true
        comment:
          $ref: '#/components/schemas/NoteComment'
        parentComments:
          type: array
          items: { $ref: '#/components/schemas/NoteComment' }
        isMuted: { type: boolean }
        canReply: { type: boolean }
        trackingParameters:
          type: object
          additionalProperties: true
      examples:
        - entity_key: 'note-abc123'
          type: 'note'
          context:
            type: 'recent'
            timestamp: '2024-01-15T12:00:00Z'
            users:
              - id: 12345
                name: 'Jane Doe'
                handle: 'janedoe'
                photo_url: 'https://substackcdn.com/image.jpg'
          comment:
            id: 987654
            body: 'Excited to share my latest post!'
            user_id: 12345
            type: 'comment'
            date: '2024-01-15T12:00:00Z'
            name: 'Jane Doe'
            reaction_count: 8
            reactions:
              '❤': 5
              '🔥': 3
            children_count: 2
      required: [entity_key, type]
      additionalProperties: true

    Comment:
      type: object
      description: A comment on a post. Flat object with no inheritance from Note.
      properties:
        id: { type: integer }
        body: { type: string }
        user_id: { type: integer }
        type: { type: string }
        date: { type: string, format: date-time }
        name: { type: string }
        reaction_count: { type: integer }
        reactions:
          $ref: '#/components/schemas/Reactions'
        restacks: { type: integer }
        restacked: { type: boolean }
        children_count: { type: integer }
        body_json:
          type: object
          additionalProperties: true
        publication_id: { type: integer }
        post_id: { type: integer }
        edited_at:
          oneOf:
            - { type: string, format: date-time }
            - { type: 'null' }
        ancestor_path: { type: string }
        reply_minimum_role: { type: string }
        media_clip_id: { type: string }
        photo_url: { type: string, format: uri }
        bio: { type: string }
        handle: { type: string }
        user_bestseller_tier: { type: string }
        attachments:
          type: array
          items: { $ref: '#/components/schemas/NoteAttachment' }
        userStatus:
          type: object
          additionalProperties: true
        user_primary_publication:
          type: object
          additionalProperties: true
        language: { type: string }
        autotranslate_to: { type: string }
        tracking_parameters:
          type: object
          additionalProperties: true
        author_is_admin: { type: boolean }
      required: [id, body]
      additionalProperties: true

    CommentResponse:
      type: object
      description: |
        Wrapper returned by `GET /api/v1/reader/comment/{id}`. Substack
        double-wraps the payload — the outer `item` holds an inner object
        whose `comment` property is the actual comment record.
      properties:
        item:
          type: object
          properties:
            comment:
              $ref: '#/components/schemas/Comment'
          additionalProperties: true
      additionalProperties: true

    PaginatedComments:
      type: object
      description: Comments on a post, with a `more` flag for additional pages.
      properties:
        comments:
          type: array
          items: { $ref: '#/components/schemas/Comment' }
        more:
          type: boolean
          description: True if more pages of comments exist.
      additionalProperties: true

    CommentRepliesResponse:
      type: object
      description: Threaded reply branches under a comment.
      properties:
        commentBranches:
          type: array
          items:
            type: object
            properties:
              comment:
                $ref: '#/components/schemas/Comment'
              descendantComments:
                type: array
                items:
                  type: object
                  properties:
                    type: { type: string }
                    comment:
                      $ref: '#/components/schemas/Comment'
                  required: [type, comment]
                  additionalProperties: true
            required: [comment, descendantComments]
            additionalProperties: true
        moreBranches: { type: integer }
        nextCursor:
          oneOf:
            - { type: string }
            - { type: 'null' }
      required: [commentBranches, moreBranches, nextCursor]
      additionalProperties: true

    PotentialHandles:
      type: object
      description: Handle options for the authenticated user.
      properties:
        potentialHandles:
          type: array
          items:
            type: object
            properties:
              id: { type: string }
              handle: { type: string }
              type:
                type: string
                description: Handle type discriminator (e.g. `user`, `publication`).
            required: [id, handle, type]
            additionalProperties: true
      required: [potentialHandles]
      additionalProperties: true

    UserProfile:
      type: object
      description: |
        Lightweight profile fields extracted from the no-parameters call to
        `/api/v1/reader/feed/profile/{profileId}`. The raw endpoint returns a
        feed wrapper; the client extracts `id` and `handle` from the first
        `context.users` entry and then resolves the full profile via
        `getProfileBySlug`. This schema documents the conceptual profile
        record, not the raw wire format.
      properties:
        id: { type: integer }
        name: { type: string }
        handle: { type: string }
        photo_url: { type: string, format: uri }
        bio: { type: string }
      required: [id]
      additionalProperties: true

    Profile:
      type: object
      description: |
        Public-profile fields shared by both authenticated and anonymous
        profile lookups. `FullProfile` extends this with extra signed-in
        fields.
      properties:
        id: { type: integer }
        name: { type: string }
        handle: { type: string }
        slug: { type: string }
        photo_url: { type: string, format: uri }
        cover_photo_url: { type: string, format: uri }
        bio: { type: string }
        url: { type: string, format: uri }
        twitter_screen_name: { type: string }
        publicationUsers:
          type: array
          items:
            $ref: '#/components/schemas/PublicationUser'
      required: [id, name, handle]
      additionalProperties: true

    FullProfile:
      description: |
        Full profile with extra fields exposed by
        `GET /api/v1/user/{slug}/public_profile`.
      allOf:
        - $ref: '#/components/schemas/Profile'
        - type: object
          properties:
            tos_accepted_at:
              oneOf:
                - { type: string, format: date-time }
                - { type: 'null' }
            profile_disabled:
              oneOf:
                - { type: boolean }
                - { type: 'null' }
            userLinks:
              type: array
              items:
                type: object
                properties:
                  id: { type: integer }
                  user_id: { type: integer }
                  url: { type: string, format: uri }
                  title: { type: string }
                additionalProperties: true
            subscriptions:
              type: array
              items:
                type: object
                properties:
                  publication_id: { type: integer }
                  user_id: { type: integer }
                  created_at: { type: string, format: date-time }
                  type: { type: string }
                additionalProperties: true
            subscriptionsTruncated:
              oneOf:
                - { type: boolean }
                - { type: 'null' }
            hasGuestPost:
              oneOf:
                - { type: boolean }
                - { type: 'null' }
            primaryPublication:
              oneOf:
                - { $ref: '#/components/schemas/PrimaryPublication' }
                - { type: 'null' }
            max_pub_tier:
              oneOf:
                - { type: integer }
                - { type: 'null' }
            hasActivity:
              oneOf:
                - { type: boolean }
                - { type: 'null' }
            hasLikes:
              oneOf:
                - { type: boolean }
                - { type: 'null' }
            lists:
              type: array
              items: { type: object }
            rough_num_free_subscribers_int:
              oneOf:
                - { type: integer }
                - { type: 'null' }
            rough_num_free_subscribers:
              oneOf:
                - { type: string }
                - { type: 'null' }
            bestseller_badge_disabled:
              oneOf:
                - { type: boolean }
                - { type: 'null' }
            subscriberCountString:
              oneOf:
                - { type: string }
                - { type: 'null' }
            subscriberCount:
              oneOf:
                - { type: string }
                - { type: 'null' }
            subscriberCountNumber:
              oneOf:
                - { type: integer }
                - { type: 'null' }
            hasHiddenPublicationUsers:
              oneOf:
                - { type: boolean }
                - { type: 'null' }
            visibleSubscriptionsCount:
              oneOf:
                - { type: integer }
                - { type: 'null' }
            previousSlug:
              oneOf:
                - { type: string }
                - { type: 'null' }
            primaryPublicationIsPledged:
              oneOf:
                - { type: boolean }
                - { type: 'null' }
            primaryPublicationSubscriptionState:
              oneOf:
                - { type: string }
                - { type: 'null' }
            isSubscribed:
              oneOf:
                - { type: boolean }
                - { type: 'null' }
            isFollowing:
              oneOf:
                - { type: boolean }
                - { type: 'null' }
            followsViewer:
              oneOf:
                - { type: boolean }
                - { type: 'null' }
            can_dm:
              oneOf:
                - { type: boolean }
                - { type: 'null' }
            dm_upgrade_options:
              type: array
              items: { type: string }
          additionalProperties: true

    ProfileSearchResult:
      type: object
      description: A single profile search result.
      properties:
        id: { type: integer }
        name: { type: string }
        handle: { type: string }
        photo_url: { type: string, format: uri }
        bio: { type: string }
      required: [id, name, handle]
      additionalProperties: true

    ProfileSearchResponse:
      type: object
      description: Profile search results page.
      properties:
        results:
          type: array
          items: { $ref: '#/components/schemas/ProfileSearchResult' }
        more:
          type: boolean
      additionalProperties: true

    Publication:
      type: object
      description: A Substack publication (newsletter).
      properties:
        id: { type: integer }
        name: { type: string }
        subdomain: { type: string }
        custom_domain:
          oneOf:
            - { type: string }
            - { type: 'null' }
        custom_domain_optional: { type: boolean }
        hero_text: { type: string }
        logo_url: { type: string, format: uri }
        author_id: { type: integer }
        theme_var_background_pop: { type: string }
        community_enabled: { type: boolean }
        copyright: { type: string }
        founding_plan_name: { type: string }
        community_url: { type: string, format: uri }
      required: [id, name]
      additionalProperties: true

    PublicationUser:
      type: object
      description: Relationship between a user and a publication.
      properties:
        id: { type: integer }
        user_id: { type: integer }
        publication_id: { type: integer }
        role: { type: string }
        public: { type: boolean }
        is_primary: { type: boolean }
        publication:
          type: object
          additionalProperties: true
      additionalProperties: true

    PrimaryPublication:
      type: object
      description: The primary publication for a user profile.
      properties:
        id: { type: integer }
        name: { type: string }
        subdomain: { type: string }
        custom_domain:
          oneOf:
            - { type: string }
            - { type: 'null' }
        logo_url:
          oneOf:
            - { type: string, format: uri }
            - { type: 'null' }
        author_id:
          oneOf:
            - { type: integer }
            - { type: 'null' }
        handles_enabled:
          oneOf:
            - { type: boolean }
            - { type: 'null' }
      required: [id, name, subdomain]
      additionalProperties: true

    Category:
      type: object
      description: A Substack content category with optional subcategories.
      properties:
        id:
          oneOf:
            - { type: integer }
            - { type: string }
        name: { type: string }
        canonical_name: { type: string }
        active: { type: boolean }
        rank: { type: number }
        slug: { type: string }
        subcategories:
          oneOf:
            - type: array
              items:
                $ref: '#/components/schemas/Subcategory'
            - { type: 'null' }
          description: |
            May be `null` when a category has no subcategories.
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        parent_tag_id:
          oneOf:
            - { type: integer }
            - { type: 'null' }
        emoji:
          oneOf:
            - { type: string }
            - { type: 'null' }
        leaderboard_description:
          oneOf:
            - { type: string }
            - { type: 'null' }
        deprecated: { type: boolean }
      required: [id, name, canonical_name, active, rank, slug, subcategories]
      additionalProperties: true

    Subcategory:
      type: object
      description: A subcategory within a content category.
      properties:
        id:
          oneOf:
            - { type: integer }
            - { type: string }
        name: { type: string }
        canonical_name: { type: string }
        active: { type: boolean }
        rank: { type: number }
        parent_tag_id:
          oneOf:
            - { type: integer }
            - { type: 'null' }
        slug: { type: string }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        emoji:
          oneOf:
            - { type: string }
            - { type: 'null' }
        leaderboard_description:
          oneOf:
            - { type: string }
            - { type: 'null' }
        deprecated: { type: boolean }
      required: [id, name, canonical_name, active, rank, parent_tag_id, slug]
      additionalProperties: true

    CategoryPublication:
      type: object
      description: |
        A publication listed under a category. Distinct from the general
        `Publication` schema — category listings expose fewer fields.
      properties:
        author_id: { type: integer }
        name: { type: string }
        subdomain: { type: string }
        logo_url: { type: string, format: uri }
        cover_photo_url: { type: string, format: uri }
        created_at: { type: string, format: date-time }
        custom_domain:
          oneOf:
            - { type: string }
            - { type: 'null' }
      required: [author_id, name, subdomain]
      additionalProperties: true

    CategoryPublications:
      type: object
      description: Publications page for a category.
      properties:
        publications:
          type: array
          items:
            $ref: '#/components/schemas/CategoryPublication'
        more:
          type: boolean
      additionalProperties: true

    InboxItemAuthor:
      type: object
      description: Author/byline in an inbox item.
      properties:
        id: { type: integer }
        name: { type: string }
        handle:
          oneOf:
            - { type: string }
            - { type: 'null' }
        photo_url: { type: string, format: uri }
        previous_name:
          oneOf:
            - { type: string }
            - { type: 'null' }
        bio: { type: string }
        profile_set_up_at:
          oneOf:
            - { type: string, format: date-time }
            - { type: 'null' }
        reader_installed_at:
          oneOf:
            - { type: string, format: date-time }
            - { type: 'null' }
        publicationUsers:
          type: array
          items: { type: object }
        is_guest: { type: boolean }
        bestseller_tier:
          oneOf:
            - { type: integer }
            - { type: 'null' }
        status:
          type: object
          additionalProperties: true
      required: [id, name, handle, photo_url]
      additionalProperties: true

    InboxItem:
      type: object
      description: |
        A single feed item from `/inbox/top`, `/reader/feed`, or `/top/search`.
        Represents a flat post object (not a polymorphic wrapper).
      properties:
        post_id: { type: integer }
        type: { type: string }
        title: { type: string }
        web_url: { type: string, format: uri }
        content_key: { type: string }
        updated_at: { type: string, format: date-time }
        content_date:
          oneOf:
            - { type: string, format: date-time }
            - { type: 'null' }
        inbox_date:
          oneOf:
            - { type: string, format: date-time }
            - { type: 'null' }
        seen_at:
          oneOf:
            - { type: string, format: date-time }
            - { type: 'null' }
        saved_at:
          oneOf:
            - { type: string, format: date-time }
            - { type: 'null' }
        archived_at:
          oneOf:
            - { type: string, format: date-time }
            - { type: 'null' }
        skip_inbox: { type: boolean }
        extra_views:
          type: array
          items: { type: object }
        subtitle:
          oneOf:
            - { type: string }
            - { type: 'null' }
        cover_photo_url:
          oneOf:
            - { type: string, format: uri }
            - { type: 'null' }
        detail_view_subtitle:
          oneOf:
            - { type: string }
            - { type: 'null' }
        audience: { type: string }
        postType: { type: string }
        is_preview: { type: boolean }
        video_id:
          oneOf:
            - { type: integer }
            - { type: string }
            - { type: 'null' }
        audio_url:
          oneOf:
            - { type: string, format: uri }
            - { type: 'null' }
        audio_type:
          oneOf:
            - { type: string }
            - { type: 'null' }
        authors:
          type: array
          items: { type: string }
        published_bylines:
          type: array
          items: { $ref: '#/components/schemas/InboxItemAuthor' }
        publication_id:
          oneOf:
            - { type: integer }
            - { type: 'null' }
        publisher_name:
          oneOf:
            - { type: string }
            - { type: 'null' }
        publisher_image_url:
          oneOf:
            - { type: string, format: uri }
            - { type: 'null' }
        like_count:
          oneOf:
            - { type: integer }
            - { type: 'null' }
        comment_count:
          oneOf:
            - { type: integer }
            - { type: 'null' }
        read_progress: { type: number }
        max_read_progress: { type: number }
        audio_progress: { type: number }
        max_audio_progress: { type: number }
        video_progress: { type: number }
        max_video_progress: { type: number }
        is_personal_mode: { type: boolean }
        is_saved: { type: boolean }
        created_at: { type: string, format: date-time }
        uuid: { type: string }
        coverImagePalette:
          type: object
          additionalProperties: true
        duration_metadata:
          oneOf:
            - type: object
              properties:
                word_count:
                  oneOf:
                    - { type: integer }
                    - { type: 'null' }
                audio_duration:
                  oneOf:
                    - { type: integer }
                    - { type: 'null' }
            - { type: 'null' }
      required: [post_id, type, title, web_url]
      additionalProperties: true

    PaginatedFeed:
      type: object
      description: |
        Paginated feed envelope returned by cursor-paginated discovery
        endpoints such as `/reader/feed`, `/top/search`, and
        `/search/explore/web`. The TypeScript client normalises this into
        `{ items: FeedItem[], nextCursor: string | null }`.
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/InboxItem' }
        nextCursor:
          oneOf:
            - { type: string }
            - { type: 'null' }
      additionalProperties: true

    TopInboxFeed:
      type: object
      description: |
        Raw response from `GET /api/v1/inbox/top`. Returns an `inboxItems`
        array rather than the `items`/`nextCursor` shape used by other
        feed endpoints.
      properties:
        inboxItems:
          type: array
          items:
            $ref: '#/components/schemas/InboxItem'
      additionalProperties: true

    Facepile:
      type: object
      description: Reactor list for a post.
      properties:
        reactors:
          type: array
          items:
            type: object
            properties:
              id: { type: integer }
              name: { type: string }
              photo_url: { type: string, format: uri }
            required: [id, name]
            additionalProperties: true
      required: [reactors]
      additionalProperties: true

    LiveStream:
      type: object
      description: Live stream record.
      properties:
        id: { type: integer }
        publication_id: { type: integer }
        status: { type: string }
        title: { type: string }
        started_at: { type: string, format: date-time }
        ended_at:
          oneOf:
            - { type: string, format: date-time }
            - { type: 'null' }
        livestream_url: { type: string, format: uri }
      additionalProperties: true

    LiveStreamResponse:
      type: object
      description: |
        Active live-stream payload. Returns an empty object when no live
        stream is active.
      properties:
        activeLiveStream:
          oneOf:
            - $ref: '#/components/schemas/LiveStream'
            - { type: 'null' }
      additionalProperties: true

    SubscriberLists:
      type: object
      description: |
        Subscriber-list payload. `subscriberLists` groups the publications/users
        the authenticated user follows.
      properties:
        subscriberLists:
          type: array
          items:
            type: object
            properties:
              id: { type: string }
              name: { type: string }
              groups:
                type: array
                items:
                  type: object
                  properties:
                    users:
                      type: array
                      items:
                        type: object
                        properties:
                          id: { type: integer }
                          handle: { type: string }
                        required: [id, handle]
                        additionalProperties: true
                  required: [users]
                  additionalProperties: true
            required: [id, name, groups]
            additionalProperties: true
      required: [subscriberLists]
      additionalProperties: true

    UserSettingRequest:
      type: object
      description: |
        Body for `PUT /api/v1/user-setting`. The client always writes
        `last_home_tab` and uses the response's `user_id` to derive the
        authenticated user's identity / probe connectivity.
      properties:
        last_home_tab:
          type: string
          description: Last home-tab key (e.g. `home`, `discover`).
      examples:
        - last_home_tab: 'home'
      required: [last_home_tab]
      additionalProperties: true

    UserSettingResponse:
      type: object
      description: Updated user-setting record. Includes the authenticated `user_id`.
      properties:
        user_id: { type: integer }
        last_home_tab: { type: string }
      required: [user_id]
      additionalProperties: true

    PublishNoteRequest:
      type: object
      description: Body for `POST /api/v1/comment/feed/`.
      properties:
        bodyJson:
          type: object
          description: ProseMirror JSON document.
          additionalProperties: true
        tabId:
          type: string
          description: Unique tab identifier for the note session.
        surface:
          type: string
          description: Surface context where the note is published.
        attachmentIds:
          type: array
          items: { type: string }
          description: |
            Attachment IDs returned by `POST /api/v1/comment/attachment/`.
        replyMinimumRole:
          type: string
          enum: [everyone]
          description: |
            Who can reply to the note. Currently only `everyone` is supported.
      examples:
        - bodyJson:
            type: doc
            content:
              - type: paragraph
                content:
                  - type: text
                    text: 'Hello from the Substack API!'
          tabId: 'tab-abc123'
          surface: 'feed'
          replyMinimumRole: 'everyone'
      required: [bodyJson, tabId, surface]
      additionalProperties: true

    PublishNoteResponse:
      type: object
      description: Published note record.
      properties:
        id: { type: integer }
        body: { type: string }
        body_json:
          type: object
          additionalProperties: true
        date: { type: string, format: date-time }
        type: { type: string }
        user_id: { type: integer }
        publication_id: { type: integer }
        attachments:
          type: array
          items: { $ref: '#/components/schemas/NoteAttachment' }
      additionalProperties: true

    CreateAttachmentRequest:
      type: object
      description: Body for `POST /api/v1/comment/attachment/`.
      properties:
        url: { type: string, format: uri }
        type:
          type: string
          enum: [link]
      required: [url, type]
      additionalProperties: true

    CreateAttachmentResponse:
      type: object
      description: Created attachment record.
      properties:
        id: { type: string }
        type: { type: string, enum: [link] }
        url: { type: string, format: uri }
        image_url: { type: string, format: uri }
        title: { type: string }
        description: { type: string }
        host: { type: string }
      required: [id, type]
      additionalProperties: true

    # ── Post Management schemas ──────────────────────────────────────────

    DraftPost:
      type: object
      description: A draft or published post from the post management endpoints.
      required: [id]
      properties:
        id:
          type: integer
        uuid:
          type: string
        editor_v2:
          type: boolean
        publication_id:
          type: integer
        type:
          type: string
          description: Post type (e.g. `newsletter`).
        post_date:
          type: string
          format: date-time
        draft_created_at:
          type: string
          format: date-time
        draft_updated_at:
          type: string
          format: date-time
        email_sent_at:
          type: string
          format: date-time
        is_published:
          type: boolean
        title:
          type: string
        draft_title:
          type: string
        draft_body:
          type: string
          description: HTML body content.
        body:
          type: string
        subtitle:
          type: string
        draft_subtitle:
          type: string
        slug:
          type: string
        audience:
          type: string
          description: Audience visibility (e.g. `everyone`, `only_paid`).
        cover_image:
          type: string
          format: uri
        should_send_email:
          type: boolean
        should_send_free_preview:
          type: boolean
        write_comment_permissions:
          type: string
        default_comment_sort:
          type: string
        meter_type:
          type: string
        section_id:
          type: integer
        section_slug:
          type: string
        section_name:
          type: string
        draft_section_name:
          type: string
        is_draft_hidden:
          type: boolean
        reaction_count:
          type: integer
        comment_count:
          type: integer
        child_comment_count:
          type: integer
        reactions:
          type: object
          additionalProperties:
            type: integer
        free_unlock_required:
          type: boolean
        word_count:
          type: integer
      additionalProperties: true

    PostManagementResponse:
      type: object
      description: Paginated response from post management list endpoints.
      required: [posts, offset, limit, total]
      properties:
        posts:
          type: array
          items:
            $ref: '#/components/schemas/DraftPost'
        offset:
          type: integer
        limit:
          type: integer
        total:
          type: integer

    PostManagementCounts:
      type: object
      description: Post counts by status.
      required: [published, drafts, scheduled]
      properties:
        published:
          type: integer
        drafts:
          type: integer
        scheduled:
          type: integer

    PublicationDetail:
      type: object
      description: Publication metadata from GET /publication.
      properties:
        subdomain:
          type: string
        name:
          type: string
        is_personal_mode:
          type: boolean
        custom_domain:
          type: string
        logo_url:
          type: string
          format: uri
        cover_photo_url:
          type: string
          format: uri
        email_from_name:
          type: string
        language:
          type: string
        tags:
          type: array
          items:
            type: object
        has_paid_subs:
          type: boolean
        community_enabled:
          type: boolean
        podcast_enabled:
          type: boolean
        bylines_enabled:
          type: boolean
        invite_only:
          type: boolean
        founding_plan_enabled:
          type: boolean
        boost_enabled:
          type: boolean
        tts_enabled:
          type: boolean
      additionalProperties: true

    PostTag:
      type: object
      description: A publication post tag.
      properties:
        id:
          type: integer
        name:
          type: string

    Subscription:
      type: object
      description: A user's subscription to a publication.
      required: [id, user_id, publication_id]
      properties:
        id:
          type: integer
        user_id:
          type: integer
        publication_id:
          type: integer
        email_disabled:
          type: boolean
        membership_state:
          type: string
        type:
          type: string
        created_at:
          type: string
          format: date-time
        visibility:
          type: string
        is_founding:
          type: boolean
        is_favorite:
          type: boolean

    SubscriptionsResponse:
      type: object
      description: Paginated list of subscriptions.
      required: [subscriptions]
      properties:
        subscriptions:
          type: array
          items:
            $ref: '#/components/schemas/Subscription'
        more:
          type: boolean

    PublisherSettings:
      type: object
      description: Publisher settings from GET /settings.
      required: [settings]
      properties:
        settings:
          type: object
          additionalProperties: true
        twitterAccount:
          type: object
          additionalProperties: true
        userInboxView:
          type: object
          additionalProperties: true
        hasActiveSubscriptionSection:
          type: boolean
      additionalProperties: true

    LiveStreamList:
      type: object
      description: Live stream list response.
      properties:
        liveStreams:
          type: array
          items:
            $ref: '#/components/schemas/LiveStream'
        hasMore:
          type: boolean
